[2020-11-10 21:58] srobb1 commented on #437
Thank you. I have my depiction pointing to raw github links. This is working now. I created an issue on purl.obolibrary to see if they will consider supporting https.

Thank you for everyone's help to figure this out.
Sofia

[2020-11-11 22:02] cmungall opened #439 "make it transparent what the ontology source is"
Sometimes OLS loads the .obo version because it's perceived to be simpler? E.g. cl.obo not cl.owl?

This should be more transparent and on the OBO side we need to coordinate with our metadata registration such that ontology headers and product types are more informative and everything is clearer

Ideally the producers of ontologies would have more say in which version is loaded - maybe could be in

[2020-11-11 22:25] matentzn commented on #439
I totally agree. We should expose the "mirror from" uri field, saying exactly where the ontology was downloaded from. In my experience, we only ever switch to OBO format if it is somehow lossy and that was needed for some reason (Mondo was switched back to OWL afaik).

[2020-11-12 09:17] henrietteharmse commented on #439
We can look in to doing that.

By default we load the .owl file. It is only when the .owl file does not load that we will consider loading the .obo file. Though, loading of the .obo file only happens in consultation with the ontology provider and is only done when the ontology provider cannot provide a .owl file that we can load.

For OBO ontologies we read the `ontology_purl` key from the [OBO co

[2020-11-12 17:26] cmungall commented on #439
My mistake re: CL, I thought cl.owl had more axioms...

[2020-11-13 10:55] henrietteharmse commented on #401
Can you please provide steps to reproduce the problem in OLS?

[2020-11-13 11:02] henrietteharmse commented on #435
This ontology is now available at: https://www.ebi.ac.uk/ols/ontologies/reproduceme

[2020-11-13 11:02] #435 closed

[2020-11-13 11:02] #437 closed

[2020-11-13 11:08] matentzn commented on #401
I am not sure whether there is such a case in OLS proper - I discovered it in one of our satellite instances; if so I wouldn't know how to find it. Could you do a search over the database for IRIs with more than one `_` (I would, but I don't have access)?

[2020-11-20 08:57] daniwelter commented on #385
Revisiting this issue - HANCESTRO had a new release yesterday, which loaded fine into OLS but the object properties are now completely absent from the properties tab. Could you please find out why?

[2020-11-20 10:51] matentzn commented on #428
@jiaola Hey, I am trying to create an overview of existing OntoTools installations - Is yours by any chance public?

[2020-11-20 10:52] matentzn commented on #377
@DSRYU I am trying to get a sense of custom OLS installation across the web; is yours public by any chance?

[2020-11-20 10:55] matentzn commented on #407
@johannes-darms Hey, I am trying to list custom OLS/OxO/Zooma installs across the web; is yours public by any chance?

[2020-11-20 14:07] jiaola commented on #428
@matentzn  Not yet. I'm still working on it. But I'll let you know as soon as it is.

[2020-11-20 14:16] matentzn commented on #428
Thank you very much :)

[2020-11-20 14:17] matentzn commented on #428
BTW, this _might_ be interesting: https://github.com/monarch-ebi-dev/ontotools-docker-config

[2020-11-20 14:31] udp commented on #385
Hi, are you referring to the axiom "hasAncestryStatus some admixed ancestry"? Maybe I'm not looking in the correct place but I don't think that is actually present in the owl file we load at `https://raw.githubusercontent.com/EBISPOT/ancestro/master/hancestro_inferred.owl`.

[2020-11-20 14:52] daniwelter commented on #385
That would explain it. Is there a way of loading from the un-inferred file and reasoning over the ontology at loading time?

[2020-11-20 15:09] daniwelter commented on #385
Actually, I think I know where our build process is going wrong. I'm going to fix this in a new release next week. I'm going to leave this issue open until then but I expect this will be resolved after our next release.

[2020-11-20 15:11] udp commented on #385
We normally load the purl specified by the [OBO foundry config](https://raw.githubusercontent.com/OBOFoundry/OBOFoundry.github.io/master/_config.yml), but we can override in the OLS config to load from elsewhere - I can do this for HANCESTRO if necessary. We do normally reason over every ontology at load time.

[2020-11-20 15:11] udp commented on #385
For HANCESTRO, the OBO config points to `http://purl.obolibrary.org/obo/hancestro.owl` which redirects to `https://raw.githubusercontent.com/EBISPOT/ancestro/master/hancestro_inferred.owl`.

[2020-11-20 15:13] daniwelter commented on #385
No, leave it as it is, I'm going to fix the inferred version of the ontology. Thanks for your help 👍

[2020-11-20 15:13] udp commented on #385
No problem! Let me know if you need anything else.

[2020-11-30 09:58] rombaum opened #440 "Docker indexer did not work"
Hi @udp

What was the reason for commenting this line out in the commit f786478?

https://github.com/EBISPOT/OLS/blob/b304c49c72714891c45577344bea77e425bd0b32/docker-compose.yml#L11

I was trying to start OLS via using docker-compose. When the line is commented out I will receive an indexing error when I run:

`docker run --net=host -v ols-neo4j-data:/mnt/neo4j -v ols-downloads:/mnt/downloads ebis

[2020-11-30 10:35] matentzn commented on #440
This is no official response, but in the meantime you could check this:
https://github.com/monarch-ebi-dev/ontotools-docker-config

I tried to consolidate the docker-compose setup of the ontotools there, maybe it helps.

[2020-11-30 11:42] rombaum commented on #440
@matentzn that looks very interesting for me. Thanks for the link. I will have a look into this.

Just to make that clear. My version of the OLS works locally but for that I removed the comment from line 11. And if there is someone else also struggling. I decided to write this down as an issue.

[2020-11-30 12:40] matentzn commented on #440
Yeah! Thanks for the issue 👍

Just FYI: we are trying to get a sense of who is using custom OLS builds [here](https://github.com/EBISPOT/ontotools-docker-config/blob/master/docs/custom_ontotools_users.md). It would be of great help if you made a ticket there briefly describing your own project(s) and scope.

[2020-12-01 09:14] udp commented on #440
Thanks - I don't recall why this was commented out, but I think it was a mistake. I have uncommented it in the 3.x-dev branch.

[2020-12-01 10:37] #440 closed

[2020-12-01 21:53] nataled opened #442 "Bug in displayed PRO hierarchy when term logically defined with cardinality"
I've noticed an issue in the default displayed hierarchy when viewing PRO:
https://www.ebi.ac.uk/ols/ontologies/pr

For this ticket, ignore the 'activity' terms that are connected directly under 'Thing', as these are due to how they are given in PRO (and will be dealt with there). Here are some examples that illustrate the problem:

phospho CD28 homodimer
osteocalcin peptide, fully carboyxylated f

[2020-12-02 16:29] lcdaugherty opened #443 "link to ontology.dev.data.humancellatlas.org"
Hi
I used to be able to access the dev site, but the link no longer works https://ontology.dev.data.humancellatlas.org/ontologies/mondo
Has it been retired/replaced with something else?
Thanks

[2020-12-02 17:29] matentzn commented on #443
Does this work for you in the meantime:
https://www.ebi.ac.uk/ols/ontologies/mondo

?

[2020-12-03 11:04] henrietteharmse commented on #442
This does look like it may be a bug. We will need to investigate. I tried to have a look into it now and it crashed my computer twice when I tried to download the ontology. It seems like we have some challenges to figure out what is happening here.

[2020-12-03 13:35] lcdaugherty commented on #443
@matentzn Yes that does of course work, but there seemed to be additional info/comments/data on the dev site that I found useful.
Will dev site access return to the public domain again?

[2020-12-03 13:40] matentzn commented on #443
Not sure that's the right advice (@zoependlington @dosumis could you double-check?), but maybe this is a better place for a ticket of this kind: https://github.com/HumanCellAtlas

Does anyone know who is responsible for the HCA ols deployment?

As am aside: what useful information/comments/data was displayed there? Maybe that would be useful in general?

[2020-12-03 15:26] nataled commented on #442
I'm not sure what specifically is needed for your tests, but I've created a small version of PRO specifically for this purpose. Here is the file location: https://proteininformationresource.org/staff/nataled/OLS_test.owl

Please let me know if changes are needed.

[2020-12-03 15:34] henrietteharmse commented on #442
A minimal representative example! That will certainly help! Thank you!

[2020-12-03 16:10] matentzn commented on #443
cc @rdgoite

[2020-12-03 18:53] rdgoite commented on #443
Unfortunately, I'm no longer in the HCA team, so I don't know what happened to the original URL. @ebi-ait/hca-dev can probably help you with this.

[2020-12-05 21:33] cmungall opened #444 "Definition provenance is not always shown"
https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0002050

Shows:

"A melancholy feeling of sadness and despair. [ ]"

but there is an axiom annotation with source

OBO:
def: "A melancholy feeling of sadness and despair." [NCIT:C2982]

[2020-12-07 14:06] markmcdowall opened #446 "Error with config/version not updating"
Hi,

When looking at the version of PRIDE that is available in OLS, the latest version of PRIDE seems to have been loaded at 2020-09-25, but the `config/version` described via the REST API still references an older version (`05-11-2019`):

https://www.ebi.ac.uk/ols/api/ontologies?page=2&size=100

[code]

[2020-12-08 11:50] udp commented on #446
Hi Mark - thanks for reporting. We had a couple of issues with our last indexer run, but they are now resolved and it's running again today, so PRIDE should be updated to the latest version by tomorrow.

[2020-12-09 14:06] udp commented on #446
I think the issue is actually that we have at some point saved an old version number from the OBO, but as the OBO file does not currently contain a version, the old version is persisted in the OLS database. We will change this behaviour to remove the old version number if no version number is present during an indexer run.

[2020-12-10 11:41] lauraclarke commented on #443
The correct link to use now is https://ontology.dev.archive.data.humancellatlas.org/ontologies/mondo

We had to change the URL due to some changes in the back end infrastructure

This version of OLS is an internal service. If you are either just querying OLS or building anything on top of OLS you are better to use the official service which can be found as @matentzn said on https://www.ebi.ac.uk/o

[2020-12-11 08:56] henrietteharmse commented on #444
This has been fixed now.

[2020-12-11 08:56] #444 closed

[2020-12-11 13:58] henrietteharmse commented on #442
This has been resolved.

[2020-12-11 13:58] #442 closed

[2020-12-11 15:36] mcourtot opened #448 "Issue with DICOM?"
https://www.ebi.ac.uk/ols/ontologies/dicom seems empty

[2020-12-16 13:43] matentzn opened #449 "Add new prominent term request link"
It would be great if we could add a request term link just next to "Ontology Homepage"

![image](https://user-images.githubusercontent.com/7070631/102355961-80061200-3fa4-11eb-9118-8b15e6120ab1.png)

This should simply redirect to the issue tracker of the ontology; the issue tracker URL can be found consistently in the OBO metadata under "tracker". The button could be labelled: "Request terms".

[2020-12-18 15:50] balhoff opened #450 "GO displays a huge list of direct children of root terms in spite of more specific classification"
At https://www.ebi.ac.uk/ols/ontologies/go 'biological_process' shows more than 8000 direct children. However in the pre-classified version of the ontology at `http://purl.obolibrary.org/obo/go.owl`, 'biological_process' has ~30 direct children.

It seems like OLS is injecting SubClassOf relations for operands in equivalent class expressions.

For example, [negative regulation of B cell proliferat

[2020-12-22 19:18] cmungall commented on #450
IMO:

I don't think OLS should inject any axioms that are not present in the released ontology.

When building the tree display and the graph display, OLS should only use the asserted axioms of the form:

 1. A SubClassOf B
 2. A SubClassOf R some B

i.e. the relational graph or existential graph (see [this blog](https://douroucouli.wordpress.com/2016/10/04/a-developer-friendly-json-exchange-forma

[2021-01-06 11:02] udp opened #451 "Can't retrieve jstree for EFO"
Ticket from RT

---

for some reason I can't retrieve the hierarchical tree of the EFO terms

https://www.ebi.ac.uk/ols/api/ontologies/efo/terms/http%253A%252F%252Fwww.ebi.ac.uk%252Fefo%252FEFO_0009964/jstree

If I do it with HP, MONDO or any other ontologies it works.

[2021-01-06 11:16] daniwelter commented on #385
I did a release this week and can confirm that this is now resolved.

[2021-01-06 11:16] #385 closed

[2021-01-06 11:28] udp commented on #451
Duplicate of #333

viewMode=All and siblings=true/false is now required by the jstree api call, so the correct query would be e.g.:

https://www.ebi.ac.uk/ols/api/ontologies/efo/terms/http%253A%252F%252Fwww.ebi.ac.uk%252Fefo%252FEFO_0009964/jstree?viewMode=All&siblings=true

[2021-01-06 11:28] #451 closed

[2021-01-13 17:51] paolaroncaglia commented on #311
Similarly to what @mcourtot reported above, and as discussed briefly with @matentzn and @henrietteharmse today, here's another example: looking up 'Abnormal cellular phenotype' in Mondo in OLS (as an example of a granular non-Mondo term imported in Mondo) returns a potentially confusing view if "Preferred root term" is the default. Compare with "All terms". A discussion followed about what would u

[2021-01-20 13:55] mcourtot opened #452 "Feature request: ability to add a logo"
NOt a priority, but it'd be nice to have the option to add a logo on the ontology page. Eg for GECKO at https://www.ebi.ac.uk/ols/ontologies/gecko I'd like to display
![GECKO_logo_2021](https://user-images.githubusercontent.com/2214135/105184315-1fc83a00-5b27-11eb-94d8-525bab7becba.png)

[2021-01-20 14:34] matentzn commented on #452
That would be great! Also for SNOMED, MONDO, HPO etc - they would all love that.

As an aside: I am loving the G in the new GECKO logo!!! I didnt even notice that before! Extremely cool!

[2021-01-21 12:01] #443 closed

[2021-01-25 11:15] mcourtot opened #453 "Reset tree does not work"
https://www.ebi.ac.uk/ols/ontologies/gecko/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FIAO_0000005&viewMode=All&siblings=false

Clicking 'reset tree' reloads the page but does not actually resets the tree - I was expecting to go back to https://www.ebi.ac.uk/ols/ontologies/gecko

cc @matentzn
see also https://github.com/IHCC-cohorts/data-harmonization/issues/164

[2021-01-25 11:38] mcourtot commented on #394
may be related to #453

[2021-01-26 19:20] nicolevasilevsky opened #454 "new feature request: all search in specific ontology and all ontology at same time"
If I am on a page for a specific ontology term, there is  search box for search [specific ontology], which sometimes I want to do, but sometimes I want to search all ontologies, in which case, I need to go back to the home page.

It would be super cool if there was a way to do both from the same page without having to go back.

If I was on a page such as [this](https://www.ebi.ac.uk/ols/ontologies

[2021-01-27 01:48] cmungall commented on #454
yeh I often end up having to do the back button thing

I feel two search boxes are awkward. I like Having one, but having a clear filter that is set with an "x" next to it that can remove the filter

[2021-01-27 01:57] nicolevasilevsky commented on #454
I love the idea of a removable filter, @cmungall, good idea.

[2021-01-27 08:57] henrietteharmse commented on #454
Hi Nicole & Chris,

Thank you for your suggestions. We will certainly consider this.

I have a question. Why not have 2 tabs open for OLS? One for searching all ontologies and one for searching a specific ontology. I find this useful because I can have the 2 instances open side by side.

[2021-01-27 17:23] nicolevasilevsky commented on #454
Good point, that would be a workaround. It would still be ideal to have the ability to search on a specific and all ontologies on the same page though. :) I like the idea of turning on/off a filter that Chris suggested.

[2021-01-28 11:17] henrietteharmse commented on #449
This is something that we are likely to add as part of the manual curation app development.

[2021-01-28 13:48] jseager7 commented on #454
I also support this, as I usually expect the search box to search all ontologies rather than the one I'm currently browsing.

Another suggestion is to have two search buttons, one which retains the default behaviour of searching the current ontology, and another that searches all ontologies:

![image](https://user-images.githubusercontent.com/37659591/106147035-4f9ebf80-616f-11eb-9ea8-ff7ddfe08576

[2021-01-28 14:16] matentzn commented on #449
Very interesting!

[2021-01-28 14:57] nicolevasilevsky commented on #454
Fantastic idea @jseager7!

[2021-01-29 15:19] dosumis opened #455 "API should include a query for all obsolete terms in an ontology"
API should include a query for all obsolete terms in an ontology (terms with the AP axioms `owl:Deprecated True`

This feature would be especially useful for users wanting to test whether ontology terms they have used in annotation have been obsoleted.

[2021-01-29 15:27] dosumis opened #456 "Ontology search resu"
When searching in the list of ontologies, an exact match for an ontology name or short name should be the top hit.  I'm pretty sure this used to be the case, but no longer is

e.g. Uberon is the third hit here:

![image](https://user-images.githubusercontent.com/112839/106293629-213fe380-6246-11eb-9f3b-8f4aaba63f91.png)

GO is the fifth hit here:

![image](https://user-images.githubusercontent.com

[2021-02-01 09:19] udp commented on #456
Thanks, I will look into it!

[2021-02-05 16:01] matentzn opened #457 "Graph view should be hideable"
Context: https://github.com/IHCC-cohorts/data-harmonization/issues/165

It would be great if we could hide the graph view button when clicking on a term:

![image](https://user-images.githubusercontent.com/7070631/107057160-0a136f80-67cb-11eb-9835-82182812471f.png)

Some users get confused, also because it does not work on the debranded version (we will create a ticket for that elsewhere).

I see

[2021-02-05 16:05] matentzn opened #458 "OLS 404 messages should be customisable"
context: https://github.com/IHCC-cohorts/data-harmonization/issues/167

Right now the error message show some hard coded EBI mailing list message:
![image](https://user-images.githubusercontent.com/7070631/107058013-f87e9780-67cb-11eb-9882-a3f697662f73.png)

Would be good if we could configure the OLS 404 message so we can use our own mailing list email!

[2021-02-05 16:08] matentzn commented on #453
From meeting just today. This may be beyond the scope right now. However, we would like to summarise our expected behaviour of RESET tree.

@mcourtot would like reset tree to not only collapse the tree under the current term (current behaviour), but actually reset the entire tree (go back to the root and show all children of root). I think that this makes sense - and if that should be the behaviou

[2021-02-05 16:10] matentzn commented on #438
From the meeting now, it would be very important that we could inject images (such as, and including) logos.

[2021-02-05 16:12] matentzn commented on #452
should be an option in ontology config, the option being `ontology_logo:` and the value being a URL (test https and HTTP).

[2021-02-05 16:15] matentzn opened #459 "Make the main "Ontologies" tab customisable"
On the debranded version, it would be great to be able to change the ontologies link to something customisable (rename to, say, "Data dictionaries and Ontologies").

![image](https://user-images.githubusercontent.com/7070631/107058935-21535c80-67cd-11eb-902e-dcbb3eb2284e.png)

Related tickets:
- https://github.com/IHCC-cohorts/data-harmonization/issues/163

[2021-02-05 16:19] matentzn opened #460 "How hard would it be to allow other "terminology types""
This is just an enquiry, not a ticket to action. So it can be closed when the question is answered.

How hard would it be to allow other terminology types alongside ontologies in the OLS data model?

For example, we would like to visually (and search-wise!) distinguish:
1. Data dictionaries
2. Application ontologies
3. Domain ontologies (aka ontologies)
4. Controlled Vocabularies

In separate sect

[2021-02-05 17:07] henrietteharmse commented on #460
A visual distinction of representation is potentially viable. However, restricting search based on terminology type is an extensive effort. From a development perspective this requires changes to each layer of the OLS indexer as well as the OLS website.
Rolling out this on the main EBI site is also likely to be challenging as it it will require every ontology in OLS to be re-indexed. Currently we

[2021-02-06 02:48] hrshdhgd opened #461 "Ontology property description not showing"
I am new to configuring the OLS so pardon me if this is a naive question. I edited the `ols-config.yaml` to add a `definition_property:` to reflect `skos:definition` as shown below:

![Screen Shot 2021-02-05 at 8 34 09 PM](https://user-images.githubusercontent.com/5247075/107106496-95076080-67f1-11eb-9f19-fe8e23ebefe8.png)

Now after deployment when I search for a particular property `outLWSpikeNA

[2021-02-09 09:43] henrietteharmse commented on #461
Can you please provide a small minimal ontology and related configuration illustrating the problem? This will help us to investigate this further.

[2021-02-09 16:19] hrshdhgd commented on #461
Sure, the owl file for the ontology could be found [here](https://raw.githubusercontent.com/hrshdhgd/metadata_converter/master/target/neon/neon.owl) and the config setup in the `ols-config.yaml` could be found [here](https://github.com/hrshdhgd/metadata_converter/blob/master/ontotools-docker-config-master/config/ols-config/ols-config.yaml). Please let me know if you need anything else.

[2021-02-10 08:47] henrietteharmse commented on #461
Can you please provide a **minimal** ontology illustrating the problem rather that the full ontology?

[2021-02-10 13:20] #360 closed

[2021-02-10 13:28] henrietteharmse commented on #448
This has been resolved

[2021-02-10 13:28] #448 closed

[2021-02-10 15:24] hrshdhgd commented on #461
Sorry about that. Here's the minimal ontology.
[neon-min.owl.zip](https://github.com/EBISPOT/OLS/files/5959109/neon-min.owl.zip)

[2021-02-10 15:51] henrietteharmse opened #462 "Add Survey Banner"
We need your help!

If you’ve ever found our data helpful, please take our impact survey (15 min). Your replies will help keep the data flowing to the scientific community.

[Take survey button]

Button should link to: https://www.surveymonkey.co.uk/r/EMBL-EBI_Impact_DR

[2021-02-11 14:12] udp commented on #461
Hi, thanks for the example - this should be fixed now!

[2021-02-11 21:26] jheckman-rt opened #464 "Running ols-neo4j-app fails on all properties files"
I have built the apps using the mvn clean package command and the additional files in the build-fix folder.  This works fine (as long as I am using the master branch, the most recent release does not build successfully anymore).

However, when I run the jar file with some of the example properties files such as:
java -Xmx2g -jar -Dspring.profiles.active=go ols-apps/ols-neo4j-app/target/ols-neo4j-a

[2021-02-15 15:01] henrietteharmse commented on #464
Unfortunately I have to admit that the Neo4J app (and Solr app) is not well maintained nor well tested. In general the indexer (/ols-indexer) is used to index ontologies rather than the apps.

Can you provide a minimal ontology that we can use to try and reproduce the error?

[2021-02-16 16:43] jheckman-rt commented on #464
There's not great documentation on how to set up the properties files (ie what all the parameters mean) so your best bet is to try with the properties files that the app identifies as examples.  This is an examples of one: https://github.com/EBISPOT/OLS/blob/master/ols-apps/ols-neo4j-app/src/main/resources/application-go.properties

[2021-02-23 14:03] matentzn commented on #461
Are you sure this is fixed? seems like nothing has been merged into master since December 8!

[2021-02-23 14:10] matentzn commented on #461
Done now closing again! Thanks!

[2021-02-23 14:10] #461 closed

[2021-02-25 08:39] mcourtot opened #465 "Annotation overspills in UI + recognise hyperlinks"
https://www.ebi.ac.uk/ols/ontologies/duo and attached screenshot
![Screenshot 2021-02-25 at 08 37 55](https://user-images.githubusercontent.com/2214135/109126099-cca85f00-7744-11eb-8236-b9d8cb179a2a.png)

Bug: the links towards the GH contributors list overspills on the right of the ontology information box.
Enhancement: it would be great if the link could also be recognised and rendered as an hyp

[2021-02-25 08:43] mcourtot commented on #465
Same is true at https://www.ebi.ac.uk/ols/ontologies/duo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FDUO_0000007&viewMode=PreferredRoots&siblings=false for the "Term information" box

![Screenshot 2021-02-25 at 08 42 50](https://user-images.githubusercontent.com/2214135/109126727-7f78bd00-7745-11eb-9cca-a2dd2d90ac66.png)

[2021-02-25 09:11] henrietteharmse commented on #465
The text that is overspilling is also an enhancement. The text areas are good at wrapping at the end of words. To try and resolve this, all text will need to be analysed to figure out whether there is by chance a long string that needs to be broken up artificially. This has performance implications. Hence, this is not something we can implement. Similarly figuring out whether arbitrary text contai

[2021-02-25 09:30] henrietteharmse commented on #465
Ah! Just had a chat with @zoependlington. Apparently [http://www.w3.org/2000/01/rdf-schema#seeAlso](http://www.w3.org/2000/01/rdf-schema#seeAlso) is already used in EFO and Mondo.

[2021-02-25 10:05] matentzn commented on #465
This is great. Now this would be amazing, if it could be done in the same wash: hasDbXref. This points to a curie sometimes (most often), which ols knows how to turn into an iri. [Example](https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FMONDO_0021060&viewMode=PreferredRoots&siblings=false):

![image](https://user-images.githubusercontent.com/7070631/10

[2021-02-25 13:13] henrietteharmse commented on #465
@matentzn Implementation wise that is a different issue because EFO:1001502 is not actually a link but needs to be looked up to find the link and then rendered as link. The problem is to do this lookup efficiently. Me and @udp have discussed this extensively last year without finding an easy way to add this into OLS.

[2021-02-25 13:15] matentzn commented on #465
I thought The OLS api can do this! But yes different issue. Just wanted to chime in!

[2021-02-25 13:57] henrietteharmse commented on #465
Yes, OLS indeed has an API call that can look up a single term. However, this is not efficient for use in this case as it will result in a sharp increase in the amount of traffic generated for each ontology term visited for each user. What we need here a cache with latency close to 0. Otherwise this will result in OLS pages load much slower.

[2021-02-25 17:42] hrshdhgd commented on #461
Hello,

The original issue seems to be fixed! Thank you for that.

I noticed another issue that the description shows up in the center of the page as shown below:
<img width="1322" alt="Screen Shot 2021-02-25 at 11 33 54 AM" src="https://user-images.githubusercontent.com/5247075/109193149-b064ec00-775d-11eb-8206-9bdcdcc144e6.png">

But not in here along with property Information. Does that get it

[2021-02-25 17:46] matentzn commented on #461
what is the property used in you ontology for the definition? IAO:0000115?

[2021-02-25 17:59] hrshdhgd commented on #461
No , it is SKOS definition (http://www.w3.org/2004/02/skos/core#definition)

[2021-02-25 19:08] matentzn commented on #461
Thats probably why. @udp can you somehow configure the definition property in OLS

[2021-02-25 22:51] matentzn commented on #461
@hrshdhgd try https://github.com/EBISPOT/OLS-Config/blob/310f76b0acd23d6ad8d2333afc506de517e228ba/ols-config-importer/ols-ontologies.yaml#L11

[2021-02-25 23:20] hrshdhgd commented on #461
Here's my config:
<img width="897" alt="Screen Shot 2021-02-25 at 5 19 24 PM" src="https://user-images.githubusercontent.com/5247075/109232267-a78c0e80-778d-11eb-9fd7-66071367152d.png">

and here's the page:
![Screen Shot 2021-02-25 at 5 19 16 PM](https://user-images.githubusercontent.com/5247075/109232276-abb82c00-778d-11eb-8a95-9ce2657f1f69.png)

No change.

[2021-02-25 23:22] matentzn commented on #461
But didnt you just say that your `definition_property` is http://www.w3.org/2004/02/skos/core#definition? It still seems IAO_0000115..

[2021-02-25 23:23] hrshdhgd commented on #461
I just changed it

[2021-02-26 12:10] udp commented on #462
Ready in survey-banner branches for when the survey opens

[2021-03-01 11:00] markmcdowall commented on #446
Was looking at the PRotein ontology and there appeas to be the same issue.

https://www.ebi.ac.uk/ols/ontologies/pr

<img width="405" alt="Screenshot 2021-03-01 at 10 59 08" src="https://user-images.githubusercontent.com/462902/109488212-27abc000-7a7d-11eb-98d3-52d348b58884.png">

The linked version of pr.owl is for version 62.0, but the `version` value in the box and when using the REST API lists

[2021-03-01 13:54] markmcdowall commented on #446
It looks like there is a similar issue with ChEBI as well. The listed `version` is `01-01-2020`, but the ChEBI version `196` is from `01-03-2021`:

<img width="400" alt="Screenshot 2021-03-01 at 12 06 52" src="https://user-images.githubusercontent.com/462902/109495036-9f321d00-7a86-11eb-9a38-5fd3545dabf6.png">

[2021-03-03 15:05] #462 closed

[2021-03-03 15:09] henrietteharmse commented on #395
Parked for now due to changed priorities.

[2021-03-03 15:13] #460 closed

[2021-03-03 15:44] henrietteharmse opened #466 "Remove survey banner"

[2021-03-08 10:32] udp commented on #446
This should now be resolved, in that versions are no longer returned for these ontologies as they are not provided in the upstream ontology files.

[2021-03-08 10:32] #446 closed

[2021-03-08 11:09] b-fran opened #467 "Using docker-compose in Windows 10"
I am trying to setup OLS via docker using Windows 10 (version 20H2) and receiving the following error when entering the command.

Command:
`docker run --net=host -v $(pwd)/config:/config ebispot/ols-config-importer:stable`

Error Message:
`2021-03-08 10:52:59,804 INFO main YamlLoader.logStarting - Starting YamlLoader v3.2.1-SNAPSHOT on docker-desktop with PID 1 (/opt/ols-config-importer.jar starte

[2021-03-08 12:14] matentzn commented on #467
Hello @b-fran

Indeed, these commands are rarely tested on windows; but in my experience you can make them work.

I will assume that in the same directory as you run the command, there is a subdirectory `config` containing `ols-config.yaml`.

My guess is that `-v $(pwd)/config:/config` fails;

Some potential things to check:
1. docker has access to your directory (docker settings)
2. $(pwd) someho

[2021-03-09 10:00] jonquet commented on #460
Maybe just an additionnal note to mention two metadata vocabularies that can be used to store this information:

omv:isOfType = The nature of the content of the ontology, with instance values : Application Ontology
Domain Ontology, Task Ontology, Upper Level Ontology, Vocabulary

omv:hasFormalityLevel = Level of formality of the ontology

We can also cite instances values in NKOS:
http://wiki.dubl

[2021-03-09 11:01] tarcisiotmf opened #468 "Adding Orthology Ontology (ORTH)"
Dear Henriette Harmse,

Following up my previous email, please see in attachment the filled spreadsheet OLS ontology request.
[ORTH - OLS ontology request.xlsx](https://github.com/EBISPOT/OLS/files/6107954/ORTH.-.OLS.ontology.request.xlsx)

Thank you for your attention.

Best regards,
Tarcisio

[2021-03-10 07:32] henrietteharmse opened #469 "Add CryEM Ontology"
Here is the email requesting that CryEM be added:

We took into account your recommendations and now we manage the PURL system with our own website (http://scipion.i2pc.es/).

Therefore, if you search for http://scipion.i2pc.es/ontology/cryoem you can check that it redirects to https://github.com/I2PC/cryoem, as well as http://scipion.i2pc.es/ontology/cryoem.owl redirects to https://raw.githubuser

[2021-03-10 12:25] udp commented on #468
Hello,

ORTH is now live in OLS: https://www.ebi.ac.uk/ols/ontologies/orth

thanks,

James

[2021-03-10 12:25] #468 closed

[2021-03-12 10:53] #469 closed

[2021-03-12 11:12] henrietteharmse commented on #469
CryEM is available at https://www.ebi.ac.uk/ols/ontologies/cryoem

[2021-03-12 11:50] sanlopez commented on #469
Great! Thanks a lot for your help, Henriette

[2021-03-19 12:56] matentzn commented on #399
@mcourtot FYI

[2021-03-19 14:39] matentzn commented on #399
![image](https://user-images.githubusercontent.com/7070631/111797206-da26b400-88c0-11eb-96f1-6ffeab935860.png)

API call seems to point to EBI OxO

[2021-03-19 14:40] matentzn commented on #399
Link hard coded:
https://github.com/EBISPOT/OLS/blob/3d3c0352f08a44fcbe0b3c5c8a03ecf51808d554/ols-web/src/main/resources/templates/term.html#L501

[2021-03-19 21:39] cmungall commented on #450
this is a big issue for other ontologies too, e.g. Mondo. Compare the view in OLS which has lots of random things floating to the root with the correct view in ontobee

I can't emphasize enough: as an ontology producer it is incredibly important for me to control how the ontology looks, and for browsers not to inject axioms into the ontology where I don't intend them

[2021-03-22 10:25] matentzn commented on #399
Also make sure that the "no mappings found" message has a configurable link to OxO instance (example [here](https://registry.ihccglobal.app/ontologies/elsabrasil/terms?iri=https%3A%2F%2Fpurl.ihccglobal.org%2FELSABRASIL_0001632&viewMode=All&siblings=false)).

![image](https://user-images.githubusercontent.com/7070631/111975780-e39a6100-8af8-11eb-8560-cbf861f4ca40.png)

[2021-03-23 09:00] henrietteharmse commented on #450
If I look at "biological process" of GO in OLS I 30 direct children rather 8000:
![image](https://user-images.githubusercontent.com/32327979/112119807-a051f800-8bb5-11eb-8ca6-d631e49e1301.png)

which seems to match what is shown in Protege.
![image](https://user-images.githubusercontent.com/32327979/112120173-e8711a80-8bb5-11eb-9268-ae07f22439c0.png)

What am I missing here?

[2021-03-23 09:09] matentzn commented on #450
Protege is also using the structural reasoner - so it's again wrong. The only correct way is using the existential graph - if there is an A subclass B, add a link A--isa-->B, if there is an A subclass R some B, add an A--R-->B. The structural reasoner does more things, and wrong things. All of this will be solved by your latest push to rapid indexing!

[2021-03-23 09:52] matentzn commented on #450
@henrietteharmse seems GO has changed its definitions; look instead at the "biological regulation" branch, which has thousands of children in Protege and OLS, while it only has three in actuality:

![image](https://user-images.githubusercontent.com/7070631/112127522-713f8480-8bbd-11eb-8c84-42dbf12f0ffc.png)

![image](https://user-images.githubusercontent.com/7070631/112127486-65ec5900-8bbd-11eb-91

[2021-03-23 13:49] balhoff commented on #450
@matentzn this is right, we changed the genus of all these expressions. The problem still exists there.

[2021-03-25 18:09] udp commented on #452
In 3.x-dev branch

[2021-03-26 08:30] #439 closed

[2021-03-29 15:13] udp opened #470 "Implement bulk querying"

[2021-03-30 07:14] #310 closed

[2021-03-31 12:16] matentzn commented on #459
![image](https://user-images.githubusercontent.com/7070631/113142810-3c69a800-9223-11eb-9a4d-e0198007f2ba.png)

I tested this, and it works.

[2021-03-31 12:18] matentzn commented on #459
[code]

[2021-03-31 12:27] matentzn commented on #453
This works great now, thanks!

[2021-03-31 12:38] matentzn commented on #458
This works now, but would be good if the error message could be a bit more expressive. Here, I basically try to go to an ontology that does not exist:

![image](https://user-images.githubusercontent.com/7070631/113145404-4640da80-9226-11eb-9ff6-ef71380e2141.png)

[2021-03-31 13:03] matentzn commented on #438
Right now, the description is just text, can we have this HTML?

[2021-03-31 14:47] matentzn commented on #399
Maybe I am doing something wrong! I am trying:

[code]

But I only get a blank term_mappings tab:

![image](https://user-images.githubusercontent.com/7070631/113163523-29150780-9238-11eb-8225-7470377304d6.png)

[2021-04-01 07:22] henrietteharmse opened #471 "Add Snomed CT"

[2021-04-01 07:34] henrietteharmse commented on #450
@balhoff @cmungall Both Mondo and Go has been updated.

[2021-04-01 07:34] #450 closed

[2021-04-01 10:55] matentzn commented on #452
This ols-config.yaml does not work for me:

[code]

Neither is there a logo, no an HTML element with a logo generated? Any idea what could be wrong?

[2021-04-01 14:26] balhoff commented on #450
Thanks @henrietteharmse, looks good!

[2021-04-03 10:11] matentzn opened #472 "Ontology description/label beats ols-config.yaml?"
In my ols config, I have:

[code]

But it shows up as:
https://ols.monarchinitiative.org/ontologies/hp

I think that was not the case until recently. Config should trump ontology annotations!

[2021-04-06 08:53] henrietteharmse commented on #472
As far as possible OLS assumes the ontology is the master of information. In this case OLS will read the title from the config, but if the ontology provides a title, that will override the config. Mongo will be updated with this information as well.  This to me seems to be a reasonable strategy.

You can update the mongo config manually to reflect a different title if you want to.

[2021-04-06 12:00] matentzn commented on #472
It's probably reasonable for now. :) closing

[2021-04-06 12:00] #472 closed

[2021-04-07 09:39] matentzn opened #473 "Switch Uberon and CL to Elk"
As per discussions on slack, to avoid redundancy in the rendering, it would be best to switch CL and Uberon to Elk.

@dosumis FYI

[2021-04-07 10:17] #466 closed

[2021-04-15 07:21] SArndt-TIB opened #474 "Display of ontology license information on OLS web inconsistent?"
At [TIB](https://www.tib.eu/de/) we are working towards having several OLS instances running to provide a look up service to the many ontologies used throughout its labs and projects.

We recently encountered an inconsistency on how the license information from ontologies indexed by OLS frontend (ols-web) gets rendered (or not).

We understood that an ontology's displayed license is *fetched* from

[2021-04-15 08:58] udp commented on #474
Example [2] is wrong,  because the [range of `dcterms:license` is `dcterms:LicenseDocument`](https://www.dublincore.org/specifications/dublin-core/dcmi-terms/#http://purl.org/dc/terms/license), not Literal.

All of the other examples should work. I will look into this.

[2021-04-15 13:57] henrietteharmse commented on #474
We have looked into this issue briefly. It seems the problem stems from the fact that OLS does not deal explicitly will license related annotations (as it deals with for example version annotation or creator creator), but rather detects it accidentally as part of the arbitrary ontology annotations.

Given our current roadmap we will only be able to get to this issue by the end of June. If you need

[2021-04-22 07:52] henrietteharmse commented on #473
Uberon and CL has been reloaded in OLS using ELK.

[2021-04-23 10:03] scdodev opened #475 "SCDO needs updating"
Hi
The SCDO was updated on 15th April 2021. It now has an OBO purl. The updated owl file can be found here: https://github.com/scdodev/scdo-ontology/blob/master/scdo.owl
Please can we request that the version on OLS be updated, including the metadata records (if you have not already done so).
We have publications in review that refer to this resource as well as a SickleInAfrica Consortium Meeting

[2021-04-23 10:08] udp commented on #475
Hello,

OLS imports SCDO from the OBO foundry. Therefore, if you update the purl with the OBO foundry, it will update in OLS automatically.

[2021-04-23 17:36] scdodev commented on #475
Thanks so much!

[2021-04-27 09:40] #473 closed

[2021-04-28 02:31] mshadbolt opened #476 "isDefiningOntology API endpoint for HSapDv terms"
Hi

Not sure if this is the best place to post an issue but I am getting an error when searching some terms in the ols by the isDefiningOntology API endpoint eg.:

http://www.ebi.ac.uk/ols/api/terms/findByIdAndIsDefiningOntology?iri=http://purl.obolibrary.org/obo/HsapDv_0000081

http://www.ebi.ac.uk/ols/api/terms/findByIdAndIsDefiningOntology?iri=http://purl.obolibrary.org/obo/HsapDv_0000086

Is t

[2021-04-28 07:57] henrietteharmse commented on #476
Hey there Marion,
We try to investigate this shortly. Thanks for reporting it.

[2021-04-28 11:55] andrecastro0o commented on #152
@sneumann  CC: @henrietteharmse @SArndt-TIB

At TIB we noticed that, unlike the overview table (super useful!) posted by @sneumann
the dataype of the **label_property** key has to be a string. If it is given a list as value, ols-config-importer will trow an error

Hence I suggest editing that field in the table, since many people are using as reference

Here is the example using CORA, first with v

[2021-05-03 13:34] scdodev commented on #475
Hi. The SCDO is still not updated in OLS. Not sure if there's a different problem?

[2021-05-04 09:02] henrietteharmse commented on #475
Thanks for letting us know. We will force it to update the moment the current update is complete.

[2021-05-05 12:38] SArndt-TIB opened #477 "Errors during ontology indexing/ Ontology of units of measure"
Hi everyone, at [TIB](www.tib.eu) we are currently trying to populate our instance of OLS with ontologies.

Trying to index the [Ontology of Units of Measure (OM)](https://raw.githubusercontent.com/HajoRijgersberg/OM/master/om-2.0.rdf) fails, though, resulting in the ontology not being loaeded to the ols-web:

![grafik](https://user-images.githubusercontent.com/52701352/117140108-4f851000-adad-11e

[2021-05-05 12:41] udp commented on #477
Hi, we are looking into this as we have the same issue with another ontology as of today. I'll keep you informed.

[2021-05-05 13:17] udp commented on #477
Actually seems the issue we have with the other ontology is unrelated.

Here is the config we are using for OM:

[code]

[2021-05-05 14:29] SArndt-TIB commented on #477
Thanks for sharing your metadata :-) I used them for another try, but it did not turn out as we had hoped:

[code]

If anything turns up, I'll give an update here. Thank you so much!

[2021-05-05 14:29] #477 closed

[2021-05-06 18:23] matentzn commented on #475
@henrietteharmse as you know, the issue here was my fault, thanks to you and @udp for diagnosing it. The issue has now been fixed in https://github.com/scdodev/scdo-ontology/pull/14/files

So if you can try to reload SCDO, that would be great :)

[2021-05-07 07:18] henrietteharmse commented on #475
No worries. I will follow up on this.

[2021-05-07 15:05] henrietteharmse commented on #475
Ok, latest SCDO has been picked as part of the scheduled data release last night a got to OLS prod just now.

![image](https://user-images.githubusercontent.com/32327979/117469708-f1436300-af4d-11eb-842a-550a37483326.png)

[2021-05-07 15:05] #475 closed

[2021-05-07 17:58] matentzn commented on #475
Awesome! Thank you :)

[2021-05-12 12:28] #272 closed

[2021-05-12 15:57] dosumis commented on #476
Hi Marion - can you provide some more context about why this is needed?  In particular why a call to the main OLS API?  Thanks!

[2021-05-13 00:42] mshadbolt commented on #476
I found a work around so you can close this if it isn't expected that these endpoints should always resolve.

[2021-05-13 08:58] henrietteharmse commented on #476
The reason why this does not work on the main OLS is because the base URIs for HCAO is configured differently from what it is on the HCA OLS instance.

OLS main instance:
[code]

OLS HCA instance:
[code]

We do have a different config on OLS main? As an example, on the main OLS we have UBERON as an ontology for which ideally users want `isDefiningOntology` to return UBERON rather than UBERON **and

[2021-05-21 20:29] rpandey19 opened #478 "un-loading/ removing loaded ontologies"
I have successfully following the process of 'Deploying with docker' and loaded couple of ontologies.
What's the process if I want to un-load / remove any of the loaded ontologies?
Tried removing from the config but that didn't work.

[2021-05-24 11:00] lcdaugherty opened #479 "missing documentation for external users of OLS"
There seems to be missing documentation for OLS?
Where can I as an external user find it as it is not here :
https://www.ebi.ac.uk/ols/docs/index
Thanks

[2021-05-25 08:51] udp commented on #479
Hi, thanks for flagging this - there was an hiccup with our deployment which has now been resolved.

[2021-05-25 08:51] #479 closed

[2021-05-26 10:34] udp commented on #478
Hi, you can use the -d option to the indexer to delete an ontology from OLS. e.g. to delete efo:

    docker run --net=host -v ols-neo4j-data:/mnt/neo4j -v ols-downloads:/mnt/downloads ebispot/ols-indexer:stable -d efo

[2021-05-27 00:49] rpandey19 opened #481 "Exception while running indexing : PKIX path building failed"
I am getting the following error when trying to run the index command-
The following ontologies failed
--------------------------------
mondo
Failed to download file: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target

duo
Failed to download file: sun.security.

[2021-05-27 01:09] #481 closed

[2021-05-27 14:44] rpandey19 opened #483 "Certificate issues recently"
I was able to run the app locally few days ago but now I am see PKIX issue. Has anything changed on certificates?
The error I am getting is -
Caused by: sun.security.validator.ValidatorException: PKIX path building failed:
 Error checking: The Data Use OntologyFailed to download file: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBu

[2021-05-27 21:07] rpandey19 opened #484 "Load custom ontology from local file"
How can we load a custom ontology from a local file. I have setup the local installation of OLS but when I try to provide the path for a local owl / obo file in the config it gives me argument exception
java.lang.IllegalArgumentException: Illegal character in opaque part at index 2: fulllocalpath\config\ref_assay.owl
        at java.net.URI.create(URI.java:852)
        at uk.ac.ebi.spot.ols.config

[2021-05-27 21:12] rpandey19 commented on #467
It worked for me when provided the full path for the config folder.
However I have not been able to load a owl file from my local machine (custom ontology). Have you tried that? If it worked for you please let me know

[2021-05-27 22:15] rpandey19 commented on #483
resolved

[2021-05-27 22:15] #483 closed

[2021-05-30 11:34] matentzn commented on #484
Here is an example:
https://github.com/monarch-initiative/ols_monarch/blob/master/ols/ols-config.yaml

Does this way of doing it work for you?

[2021-05-30 11:36] matentzn commented on #484
Can you share your config?

[2021-05-31 19:00] rpandey19 commented on #478
it worked. Thanks

[2021-05-31 19:00] #478 closed

[2021-05-31 19:13] rpandey19 commented on #484
I got it working but setting a httpd container and hosting the file in it.
But this is how I used it and the error I got-
- id: refassay2
    preferredPrefix: REFASSAY2
    ontology_purl: file://Users/user/dev/work/test/ref_assay0.owl
    title: Custom Assay Ontology 2
    description: "Custom testing ontology 2"

Error-
FileUpdatingService.run - Error checking: Custom Assay Ontology 2Failed to do

[2021-05-31 19:27] matentzn commented on #484
could it have been one too many slashes after the `file:`?, i.e.:

[code]

[That](https://github.com/monarch-initiative/ols_monarch/blob/861d1cd71c48e66ba9c1c51fa80975da315ab86d/ols/ols-config.yaml#L23) worked for me.

[2021-05-31 23:49] rpandey19 commented on #484
It still fails. I just tried it. The indexer fails. It seems to be looking for http url.
When I host the file on server it works fine.

BTW by any chance have you tried the OXO installation with docker? I am having trouble with that installation

[2021-06-03 06:23] FrancescoVit opened #485 "OLS points to old ONS ontology version"
For ONS ontology (https://www.ebi.ac.uk/ols/ontologies/ons) the OLS is pointing to an old (almost 1 year) version of the ontology, and not to the most recent one (Last loaded: Wed Jul 15 10:33:27 BST 2020).

Latest version is found at [https://raw.githubusercontent.com/enpadasi/Ontology-for-Nutritional-Studies/master/ons.owl](url) while OLS point to https://raw.githubusercontent.com/enpadasi/Ontol

[2021-06-03 08:15] matentzn commented on #485
Hey @FrancescoVit - OLS and ontobee do not know where your ontology _actually_ is  - they will use http://purl.obolibrary.org/obo/ons.owl to get it [(config](https://github.com/OBOFoundry/purl.obolibrary.org/blob/master/config/ons.yml)). You should generally give at least 10 days for changes to your ontologies to trickle through to OLS, ontobee and others. (I am not part of the OLS team, I just sa

[2021-06-08 12:51] #467 closed

[2021-06-10 14:12] giraygi commented on #362
@henrietteharmse I have a loosely related question for our running instances. Do you need to reindex all ontologies when new ontologies are added or can you index them one by one?

[2021-06-11 07:30] henrietteharmse commented on #362
@giraygi No.  We only reindex new ontologies. In fact, we estimate that to reindex all ontologies in OLS will take 3-4 weeks.

[2021-06-12 10:57] giraygi commented on #362
@henrietteharmse We want to incorporate the capability of loading and indexing only the new coming ontologies to our [TS instance](https://service.tib.eu/ts4tib/index). But we cannot do that with the regular docker based pipeline due to the changes in ontology labels in the indexing phase. I will really appreciate if you can explain us how you are achieving that in your pipeline.

[2021-06-14 08:18] henrietteharmse commented on #362
@giraygi We do not use docker in production due to constraints of the EBI infrastructure and OLS tightly coupled architecture.

We have a complete preparation environment and a production environment as detailed in [the architecture diagram](https://github.com/EBISPOT/OLS/blob/main/OLS-Architecture.png).

A scheduled process on preparation will  bring tomcat for web app and API down and run the co

[2021-06-14 12:02] udp commented on #362
@giraygi what exactly do you mean by this?

[2021-06-15 15:09] helenp opened #486 "Ontology not updating"
Grabbed from twitter - Egon Willighagen <egon.willighagen@gmail.com> reports that the eNanomapper ontology is failing  - latest GUI version is 2018. Please investigate.

[2021-06-15 15:14] matentzn commented on #486
Seems like a broken purl configured?
http://purl.enanomapper.net/onto/enanomapper.owl

This seems to be the correct one:
http://enanomapper.github.io/ontologies/enanomapper.owl

According to https://www.enanomapper.net/ontology

[2021-06-15 15:16] helenp commented on #486
Yep, that looks like it. Egon will confirm the URL shortly. Need better docs on 'change yr URL and yr ontology will be frozen in time like Miss Havisham'.

[2021-06-15 15:18] matentzn commented on #486
I think someone misunderstood the meaning of the term "purl" :D

[2021-06-15 15:21] helenp commented on #486
EBO changed all the purls at one point. Best not to go there.

[2021-06-15 15:21] egonw commented on #486
@matentzn, right... problem with temporary funded project is the divorce at the end of the project... the new URL is this: http://enanomapper.github.io/ontologies/enanomapper.owl

[2021-06-15 15:22] egonw commented on #486
PS, checking where in this repo to change it. Sorry I did not know/remember this repo.

[2021-06-15 15:23] egonw commented on #486
found it! making a PR

[2021-06-15 15:23] matentzn commented on #486
Dont worry the OLS team will do that - the config is not public any more.. :) Thanks @egonw

[2021-06-15 15:23] matentzn commented on #486
Or at least not kept up to date :D anyways, don't worry.

[2021-06-15 15:24] udp commented on #486
Yes it is: http://github.com/EBISPOT/OLS-Config

[2021-06-15 15:24] egonw commented on #486
https://github.com/EBISPOT/OLS-Config/pull/5

[2021-06-16 21:12] giraygi commented on #362
@henrietteharmse Thank you very much for the information. I think I have a better understanding of it now.
@udp I think I confused the issue and my alternative solutions a bit. ( I had an assumption that it was required to create the neo4j instance all over but when I removed its files only new ontologies were added) Sorry for that.
The actual problem was that I was able to make a 2nd import succe

[2021-06-18 12:07] udp commented on #486
This is merged now, so it should be resolved!

[2021-06-18 15:04] egonw commented on #486
Thanks, yes, I saw the 7.2 release online, thanks!

[2021-06-18 15:25] #486 closed

[2021-06-27 17:32] jackybear opened #487 "Local OLS install failing due to deprecated Neo4j links?"
I am installing OLS on my local machine but it fails at the neo4j stage (I have all other dependencies installed as per this guide... https://www.ebi.ac.uk/ols/docs/installation-guide)

The most recent error says:

Pasting that link in a browser it fails to load with same error 503, the developer tools error says:

Have I missed something or is there an issue with the URL?

I have pasted the full

[2021-06-28 08:20] udp opened #488 "Update OLS docs with Docker instructions"
https://www.ebi.ac.uk/ols/docs/installation-guide is out of date, does not mention docker

[2021-06-28 08:21] udp commented on #487
Seems there is an issue with the neo4j maven repository. You can reproduce this with wget:

[code]

I can look into this, but in the mean time would you be able to use the Docker version as described in the readme [here](https://github.com/EBISPOT/OLS#readme)?

[2021-06-28 11:19] jackybear commented on #487
Thanks, I can take a look at the docker version

[2021-07-01 06:43] andrecastro0o opened #489 "graph view API call blocked due to mixed content"
Morning,
Recently we deployed an instance of OLS for nfdi4chem, and we are having a issue with the graph view, which failing to produce the graph.

The issue seems to result from the graph's GET call to OLS API, which is done over http while the OLS instance is served over https, resulting in a mixed content, which is blocked by Firefox (see image and JSON ), as:

https://developer.mozilla.org/en-

[2021-07-06 06:41] andrecastro0o commented on #489
No ideas?

This is strange because in other paths of OLS-web, such as [ontologies/bfo](https://terminology.nfdi4chem.de/ts/ontologies/bfo) the API is called  using HTTPS as in  API, such as  <https://terminology.nfdi4chem.de/ts/api/ontologies/bfo/terms/roots?size=500>

[2021-07-06 08:36] udp commented on #489
Hi, apologies, I didn't see this. I'll have a look.

[2021-07-06 20:12] udp commented on #489
I think this is because HATEOS generates http links instead of https links in the pagination. I seem to recall this was fixed by adding a `X-Forwarded-Proto` header.

Are you using the OntoTools Docker config?

[2021-07-07 08:12] andrecastro0o commented on #489
@udp thank you!
The issue was solved by enforcing HTTPS, by as you suggested adding a `X-Forwarded-Proto` header.

which we did under the NGINX ols location, by adding `proxy_set_header X-Forwarded-Proto https;`

[2021-07-07 10:49] #489 closed

[2021-07-08 15:43] vmt25 opened #490 "Search tool is not finding or navigating to specific terms"
As per subject.
I tried searching specific ontologies with known terms and even tried the example terms 'diabetes' and 'GO:0098743'.
All attempts, even clicking on the example hyperlinks, takes me to a 'No results' page.

[2021-07-08 15:47] M-casado commented on #490
Same problem here, using any term or ontology leads to the ``No Results!`` message.
<img width="801" alt="Screenshot 2021-07-08 164702" src="https://user-images.githubusercontent.com/77288380/124952427-216db780-e00c-11eb-8223-933409b23b5b.png">

[2021-07-08 16:08] cmrn-rhi commented on #490
Also experiencing this issue.

[2021-07-08 19:11] udp commented on #490
Thanks, this is resolved now.

[2021-07-08 19:11] #490 closed

[2021-07-12 16:41] HowardLander opened #491 "Latest git pull of https://github.com/EBISPOT/ontotools-docker doesn't start on Centos 7 or 8"
Hi all

I've done a nice fresh pull of https://github.com/EBISPOT/ontotools-docker but I'm having trouble making it work on Centos 7 or Centos 8.  It works fine on my mac. I'm using the redeploy.sh script that comes with the code base, though I did add a -x to the #! /bin/bash line so I could follow what was happening:

Here's the relevant part of the failure on Centos 8 (it's the same on Centos 7

[2021-07-12 16:58] matentzn commented on #491
We are also running it on centos, my initial thought is that somehow there is a problem with pwd. Can you verify that all these directories are created?

https://github.com/EBISPOT/ontotools-docker/blob/f4a510dda510eb2d871bbe7915f83152c455b24c/redeploy.sh#L26

[2021-07-12 17:12] HowardLander commented on #491
The directories seem to be there, but they look a little wonky to me...

The ols-downloads dir seems ok but I'm not sure the ownership of the others is OK.  We are not running this on local disk, so the directories are nsf mounted.  Maybe that explains it?  Maybe I need to create service account in the correct group?

ls -ld ols* oxo* zooma-data/
drwxr-sr-x 2 howard    storage-neurobridges 4.0K Ju

[2021-07-12 17:57] matentzn commented on #491
hmm interesting.. can you try running it on a local disk to just triangulate the problem a bit? I can imagine NFS mount problems for sure.. There are hundreds of tickets about docker and NFS volumes, and its possible they need to be mounted in a special way..

[2021-07-12 18:10] HowardLander commented on #491
I'm not sure, as these are virtual machines. I'll see what I can figure out,

[2021-07-19 13:08] HowardLander commented on #491
So it does turn out to be an NFS issue.  Essentially, the volume I was trying to use was mounted using the "no-root-squash" option.  Since docker runs by default as root, it was trying to do things it did not have permission to do.  I've fixed the problem by running on a different, albeit less desirable volume.  That volume is also mounted, but without the no-root-squash option. Another choice wou

[2021-07-19 13:51] matentzn commented on #491
@HowardLander thanks a ton for sharing that - this is hugely useful for me (and I assume the rest of the community) to know!

I will close the issue then, please feel free to reopen if that was hasty.

[2021-07-19 13:51] #491 closed

[2021-07-29 21:13] HowardLander opened #492 "Question about the description field of the select api call"
Hi all:

We are making a call like the following URL:

https://server.:xxxx/api/select?q=StudyInstrument&ontology=neurobridges_ontology

But there is no description field in the response coming back, even though the documentation for that call says that description is one of the default field set to be returned.  Our ontology uses rdfs:comment for what would be the description.  Is there a way to

[2021-08-05 12:42] matentzn opened #493 "Term history view should be hideable"
See https://github.com/IHCC-cohorts/data-harmonization/issues/180 for context.

Term history (diachron) does not work some times, like now:
![image](https://user-images.githubusercontent.com/7070631/128351542-2b0f3c8c-4aa2-45d6-8a55-535974178413.png)

and not easily in any case for deployed instances ([example](https://registry.ihccglobal.app/ontologies/chop/terms?iri=https%3A%2F%2Fpurl.ihccglobal

[2021-08-05 13:20] henrietteharmse commented on #493
We will have to investigate. We had some strange infrastructure failures in last while.
There is no way to hide it currently, but we can add it.
For interest sake, is this a feature that you use frequently? It is the first time I have seen a ticket about it. Hence the reason for asking.

[2021-08-05 13:26] matentzn commented on #493
We dont use this feature - nor needed (IHCC). Personally I also don't need it. :)

[2021-08-05 13:33] mcourtot commented on #493
Agreed - hiding would be great. Thanks!

cc @cgarcia5

[2021-08-06 12:34] udp opened #494 "Should be able to supply URI of ontology in place of ID"

[2021-08-09 15:24] bbartley opened #495 "Double URL encoding for term URIs"
Using the `ontologies/so/terms` endpoint to look up a Sequence Ontology term via the URI, I ran into this issue with URL encoding.

If I URL encode the term URI, then I receive an HTTP 400:
`http://www.ebi.ac.uk/ols/api/ontologies/so/terms/http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FSO_0000167`

However, if I URL encode the URI twice, then I receive an HTTP 200:
`http://www.ebi.ac.uk/ols/api/ontologi

[2021-08-13 15:41] henrietteharmse commented on #495
To be dead honest, I have no idea. Moreover, even if we find that we do not need double encoding, we will still need to main this endpoint as many users today use it in this way.

[2021-08-15 19:11] bbartley commented on #495
Thanks @henrietteharmse ,

I would simply recommend documenting this fact on the API documentation page.  Even though there might be a perfectly valid reason for doing it this way,  it wasn't immediately obvious to me, and others like me might become discouraged trying to figure it out.

The example request on the doc page is also double URL encoded.  I put it into a URL decoder tool, and noticed

[2021-08-16 07:31] #495 closed

[2021-08-17 16:41] nicolevasilevsky opened #496 "new Mondo terms not visible in OLS"
I recently added some new terms to Mondo that were available in the [v2021-08-02 release](https://github.com/monarch-initiative/mondo/releases/tag/v2021-08-02) that are not visible in OLS, such as:

- MONDO:0100259 peroxisome biogenesis disorder due to PEX1 defect
- MONDO:0100260 peroxisome biogenesis disorder due to PEX2 defect
- MONDO:0100261 peroxisome biogenesis disorder due to PEX3 defect
- M

[2021-08-17 16:42] udp commented on #496
Hi, thanks for reporting this. We do have an issue with our data release at the moment which means the API servers are lagging behind the main production servers, which would explain this inconsistent behaviour. I am looking into it and will let you know.

[2021-08-17 16:43] nicolevasilevsky commented on #496
Thanks so much @udp!

[2021-09-05 19:05] matthiaskoenig opened #498 "Update KISAO ontology"
Could you please update the KISAO ontology to OLS.
The ontology is available via
https://bioportal.bioontology.org/ontologies/KISAO
and developed here:
https://github.com/SED-ML/KiSAO
Latest files available via
https://github.com/SED-ML/KiSAO/blob/deploy/kisao.owl

Best Matthias

*edit: added github link, edit changed to update

[2021-09-07 09:50] udp commented on #498
Hi Matthias, please can you complete this form?

https://github.com/EBISPOT/OLS/blob/main/documentation/uptake/New%20OLS%20ontology%20request.xlsx

Our data release is frozen at the moment due to some infrastructure issues, but we should be able to add it early next week.

[2021-09-07 20:14] matthiaskoenig commented on #498
Hi James,
Thanks for the quick reply.

I realized there is an old version of KISAO already part of OLS and updated
the issue accordingly. So it would only require an update of the ontology.
Should I still fill in the form in this case?

Best Matthias

On Tue, Sep 7, 2021 at 11:50 AM James McLaughlin ***@***.***>
wrote:

--
Matthias König, PhD.
Junior Group Leader LiSyM - Systems Medicine of the Li

[2021-09-13 18:25] nsuvarnaiari opened #499 "Cannot see some ECO terms in OLS"
Hi Team,

I am from ECO (Evidence and Conclusion Ontology) team and trying to search for some ECO terms in OLS released on 08/12/2021. Can see the terms listed in the search results but when I click on them, they are not displayed in the tree.
Eg: turbidity measurement evidence (ECO:0006263)

Error:
Cause unknown (no exception details available)

Could you please let us know if the error is in our

[2021-09-15 13:21] udp commented on #499
Hi Suvvi, thanks for letting us know, this is fixed now!

[2021-09-15 13:21] #499 closed

[2021-09-15 13:29] nsuvarnaiari commented on #499
Thanks James!

[2021-09-16 07:16] paolaroncaglia opened #500 "Latest CL release not in OLS yet"
Morning,
The Cell Ontology (CL) was [last released on September 9th](https://github.com/obophenotype/cell-ontology/releases/tag/v2021-09-09), but it [hasn't been loaded in OLS yet](https://www.ebi.ac.uk/ols/ontologies/cl).
Thank you in advance,
Paola

[2021-09-16 09:53] udp commented on #500
Thanks Paola. Our data release has been slow recently but it should hopefully come through tomorrow.

[2021-09-16 09:53] #496 closed

[2021-09-16 09:56] udp commented on #498
We load KISAO from the OBO foundry which has the URL set to http://purl.obolibrary.org/obo/kisao.owl, which redirects to http://svn.code.sf.net/p/kisao/code/tags/kisao-owl-latest/kisao_full.owl.

Ideally you would need to get the OBO foundry to update the URL to the github one, because we prefer not to override foundry URLs in OLS.

See: kisao at http://www.obofoundry.org

[2021-09-16 09:56] #459 closed

[2021-09-16 09:57] #449 closed

[2021-09-16 09:57] #457 closed

[2021-09-16 09:58] udp commented on #485
This seems fixed, please reopen if not

[2021-09-16 09:58] #485 closed

[2021-09-16 09:58] udp commented on #452
@matentzn did we get this working?

[2021-09-16 10:00] #264 closed

[2021-09-16 10:02] udp commented on #224
Not really sure what's being asked here. They can open a new ticket if it's still relevant.

[2021-09-16 10:02] #224 closed

[2021-09-16 10:04] mcourtot commented on #224
This was a request from Simon a long while back, where he/the OLS team wanted to get an overview of all ontology terms used in BSD. Agree on closing.

[2021-09-16 10:05] #183 closed

[2021-09-16 10:07] udp commented on #160
This seems fixed

[2021-09-16 10:07] #160 closed

[2021-09-16 10:09] #122 closed

[2021-09-16 10:10] udp commented on #105
Closing due to inactivity; we can always reopen if this is still an issue

[2021-09-16 10:10] #105 closed

[2021-09-16 10:13] #471 closed

[2021-09-16 10:14] udp commented on #458
I agree we need more specific error messages throughout OLS.

[2021-09-16 10:28] matentzn commented on #498
@matthiaskoenig please see https://github.com/OBOFoundry/purl.obolibrary.org/issues/787

[2021-09-20 11:06] matentzn commented on #452
Hey @udp - no unfortunately not! :) Thanks for catching up!

[2021-09-20 14:32] henrietteharmse commented on #500
It is updated now!

[2021-09-20 14:32] #500 closed

[2021-09-20 22:56] jpsluka opened #501 "Include Cell Behavior Ontology in OLS"
I would like to deposit our Cell Behavior Ontology (CBO) in OLS (https://www.ebi.ac.uk/ols/ontologies). CBO has been available in BioPortal since 2012 with the most recent version dated January 2020 --
https://bioportal.bioontology.org/ontologies/CBO

The original publication describing the CBO is:
Sluka JP, Shirinifard A, Swat M, Cosmanescu A, Heiland RW, Glazier JA. The cell behavior ontology: d

[2021-09-21 07:50] henrietteharmse commented on #501
Sure! Please fillout the spreadsheet as detailed in (2) decribed [here](https://github.com/EBISPOT/OLS/wiki/How-are-ontologies-added-to-OLS%3F).

Once you have uploaded the speadsheet, we will test the ontology in our dev environment and if all goes well, we will add it to production OLS.

[2021-09-21 12:48] paolaroncaglia commented on #500
Thanks @udp and @henrietteharmse .

[2021-09-21 13:56] jpsluka commented on #501
The page at https://github.com/EBISPOT/OLS/wiki/How-are-ontologies-added-to-OLS%3F
has a hyperlink to the spreadsheet of https://github.com/EBISPOT/OLS/raw/master/documentation/uptake/New%20OLS%20ontology%20request.xlsx that gives a 404 error.

[2021-09-21 23:07] cmungall opened #502 "add has ontology root term to docs"
https://www.ebi.ac.uk/ols/docs/installation-guide

Also add docs on http://purl.obolibrary.org/obo/IAO_0000700 which is a really awesome feature

[2021-09-22 07:05] henrietteharmse commented on #502
Good idea!

[2021-09-22 08:21] giraygi opened #503 "SKOS Visualization"
Currently, only the schema of SKOS ontologies can be displayed with OLS. As a result, the list of concepts in a SKOS ontology are displayed as instances of the term "concept". However, concepts of a SKOS ontology should be browsed in a similar fashion with terms of an OWL ontology in visualization. I wonder if this will be possible at some point.
Cheers,
Giray

[2021-09-24 12:26] henrietteharmse commented on #503
@giraygi Certainly. We are keen to look into this. Do you have a minimal complete SKOS ontology illustrating the problem you experiencing?

[2021-09-27 16:16] giraygi commented on #503
@henrietteharmse Thank you very much for your reply! [UAT Ontology](https://terminology.nfdi4ing.de/ts4ing/ontologies/uat) can be a good example to this. The concept instances are displayed with numbers here (most like other skos ontologies that we tried earlier) and the prefLabel field of each "concept instance" gives the actual concept name that we would prefer to see in the display instead of t

[2021-09-27 20:19] jamesaoverton opened #504 "Update OBI"
OBI version 2021-08-18 was released on 2021-08-23 and is available at the standard IRI <http://purl.obolibrary.org/obo/obi.owl>. OLS still has the previous version 2021-04-06 <https://www.ebi.ac.uk/ols/ontologies/obi>. Other portals have the new version of OBI loaded, so I don't believe there are any problems with the file.

Could you please look into this for us? Thanks!

[2021-09-28 08:32] henrietteharmse commented on #503
@giraygi That is actually a very useful example.

I think the first thing that strikes me is that I think it should be possible currently to cater for using prefLabel as label for your concept instances. We can investigate and hopefully correct this.

The second bigger challenge is to cater for a concept hierarchy. To make this concrete I will refer to an example from UAT, 1040. For easy reference

[2021-09-28 08:41] henrietteharmse opened #505 "When an ontology is forced, it should take preference over skip"
Currently when an ontology has SKIP status in Mongo, it cannot be forced. I.e., when an ontology is forced and it finds that the ontology is in SKIP status, it will not process the ontology. This needs to change that when an ontology is forced, it should override the SKIP status.

[2021-09-28 10:35] henrietteharmse commented on #505
Nope! Seems like I am wrong! Force does indeed override skip. These are the moments in which I am particularly happy to be wrong!

[2021-09-28 10:35] #505 closed

[2021-09-30 12:47] henrietteharmse commented on #503
@giraygi Glad you are able to sort the label issue!
Thanks fixing my hierarchy example - I seem to mix up the interpretation of broader and narrower routinely.
I have added this issue to our milestone 4.x for consideration for inclusion.

[2021-09-30 13:03] henrietteharmse commented on #501
@jpsluka Appologies for the 404 error. This has been fixed.

[2021-09-30 13:06] henrietteharmse commented on #484
@rpandey19 Have you been to resolve the issues you experienced with OLS and OxO installations?

[2021-09-30 13:06] #476 closed

[2021-09-30 13:12] #487 closed

[2021-09-30 13:13] henrietteharmse commented on #487
@jackybear Closing this as it seems to have been resolved. If not resolved, please feel free let us know.

[2021-09-30 14:00] henrietteharmse commented on #504
OBI has been updated

[2021-09-30 14:00] #504 closed

[2021-10-01 14:18] henrietteharmse commented on #492
@HowardLander You can add a fieldList with the list of fields you are interested. neurobridges_ontology is not available on the EBI OLS instance, hence here is an example using efo:

https://www.ebi.ac.uk/ols/api/select?q=heart&ontology=efo&fieldList=description

OR

You can use /search which will return a list of fields if no fieldList is specified.
https://www.ebi.ac.uk/ols/api/search?q=heart&on

[2021-10-01 14:38] HowardLander commented on #492
@henrietteharmse  Thanks for the response.  I think that is exactly what our portal team has done.  BTW, we have our own instance of the EBI OLS server running that has only our ontology.  It is working well.  I think this issue can now be closed.

[2021-10-01 14:38] #492 closed

[2021-10-01 18:34] cmungall commented on #502
I think I have a broader question - how do I as an ontology provider override these defaults? e.g. if I want to indicate that a property is hierarchy, what OWL annotation do I provide?

[2021-10-04 08:16] giraygi commented on #503
@henrietteharmse

Many thanks for your interest! We are looking forward to its solution in milestone 4.x!

[2021-10-13 21:04] cmungall opened #506 "OLS does not handle individuals well"
https://www.ebi.ac.uk/ols/ontologies/envo/individuals?iri=https%3A%2F%2Fwww.wikidata.org%2Fwiki%2FQ2306597

 - banner gone
 - no visual distinction between subclass and instance of in browser
 - incomplete (anonymous type assertions not shown)

See also https://github.com/EnvironmentOntology/envo/issues/1219

[2021-10-18 10:09] paolaroncaglia opened #507 "Please update Uberon in OLS"
Hello,
There was a [Uberon release on 2021-10-01](https://github.com/obophenotype/uberon/releases/tag/v2021-10-01), but it isn't in OLS yet (says  2021-07-27 as of now, see [here](https://www.ebi.ac.uk/ols/ontologies/uberon)). Could you please look into it?
Thanks very much,
Paola

[2021-10-28 21:35] cthoyt opened #508 "Crop ontologies' homepages have been replaced with local IP"
Originally on Twitter:

<blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr"><a href="https://twitter.com/EBIOLS?ref_src=twsrc%5Etfw">@EBIOLS</a> all of the ontology homepages for the crop ontologies got messed up today. E.g., coconut ontology (<a href="https://t.co/W8sA84zNZe">https://t.co/W8sA84zNZe</a>) links to http://127.0.0.1:5900/ontology/CO_326/Coconut</p>&mdas

[2021-10-29 12:39] #508 closed, assigned to nobody

[2021-11-05 10:59] ypriverol opened #509 "PSI-MS not updated"
Dear @henrietteharmse

The following ontology PSI-MS https://www.ebi.ac.uk/ols/ontologies/ms hasn't been updated in a long time:

Version in Web: 21-11-2019
Current Version: 24:09:2021 00:00 (https://github.com/HUPO-PSI/psi-ms-CV/blob/f5edf2072ca7e6f74b747ddc268b40b2cd087f66/psi-ms.obo#L3)

The Ontology is under active update here: https://github.com/HUPO-PSI/psi-ms-CV/blob/master/psi-ms.obo

Best

[2021-11-05 11:30] henrietteharmse commented on #509
@ypriverol

The MS ontology has last been loaded on 27 Oct 2021.
![image](https://user-images.githubusercontent.com/32327979/140503958-fb939cc5-733e-45bc-af62-829dd9dd7ad4.png)

The issue is that OBO configuration states that the ontology_purl for MS is http://purl.obolibrary.org/obo/ms.owl.

See [MS OBO config](https://github.com/OBOFoundry/OBOFoundry.github.io/blob/master/_config.yml#L3912)

If

[2021-11-05 11:43] matentzn commented on #509
(FYI the MS purl was updated on the 27 October, so now it points to the hopefully right URL):

https://wheregoes.com/trace/202110247350/

[2021-11-05 12:19] henrietteharmse commented on #509
@matentzn Thanks that is helpful.
@ypriverol  MS is in fact up to date on OLS based on the version number: 4.1.62

[2021-11-05 13:17] bamboo-ols opened #510 "Test issue for slack"

[2021-11-05 13:17] #510 closed

[2021-11-05 13:36] ypriverol commented on #509
The url of the project that gets updated every week is https://github.com/HUPO-PSI/psi-ms-CV/blob/master/psi-ms.obo This is the formal HUPO-PSI project.

[2021-11-05 13:38] matentzn commented on #509
This is not an OLS issue though, you need to take this up with the OBO foundry: for the OBO Foundry, the OWL version of the ontology is the only thing that matters, so when you update the OBO file, you need to update the OWL file as well..

[2021-11-05 13:41] ypriverol commented on #509
Can you help us to make this automatically?

[2021-11-05 13:45] matentzn commented on #509
Of course. This is for example how APO does it:
https://github.com/obophenotype/ascomycete-phenotype-ontology/blob/master/.github/workflows/release.yml

using GitHub actions.. Whenever the OBO gets updated, the OWL gets updated automatically.

[2021-11-05 13:48] ypriverol commented on #509
I will leave this open until we solve it, if that ok for you.

[2021-11-05 13:53] matentzn commented on #509
You could move this to the PSI MS tracker and tag me in it, just so that @henrietteharmse don't stumble over this ticket here thinking they need to address it, I am happy to help you over there.

[2021-11-08 15:29] henrietteharmse commented on #509
@ypriverol Please can you use the .owl file rather than .obo file? Currently OLS is using https://raw.githubusercontent.com/HUPO-PSI/psi-ms-CV/master/psi-ms.owl.

[2021-11-09 15:34] udp opened #512 "Skipping ontologies after 3 fails should not be on by default, only for EBI deployment"

[2021-11-09 15:39] udp commented on #512
We should introduce a new configuration ontology to enable skipping. It should be off by default, so we can turn it on at EBI.

[2021-11-11 16:53] giraygi opened #514 "A Generic Subject Classification Variable is needed for filtering Ontologies Conveniently"
Filtering by DFG or Other Subject Classifications in the search and ontologies pages might be more convenient for users. I recommend a Generic Subject Classification variable that enables the configurator to label an ontology with a number of classifications. By using a flexible data structure, only **classification** variable will be defined in the backend.  The **classification** variable will b

[2021-11-12 10:47] #498 closed

[2021-11-15 10:37] henrietteharmse commented on #514
The short answer is yes we are definitely interested in something like this but we intended to roll it out in the new version of OLS rather than the current version.

Here is the longer answer:
Adding categories to OLS has been under consideration for some time. See for example [ticket 43](https://github.com/EBISPOT/OLS/issues/43) ticket dating from 2016.

So why has this not been implemented OLS

[2021-11-15 12:38] janelomax opened #515 "NCIt not updated"
OLS hasn't updated to the latest NCIt, it's on `http://purl.obolibrary.org/obo/ncit/releases/2021-05-25/ncit.owl`

[https://www.ebi.ac.uk/ols/ontologies/ncit](https://www.ebi.ac.uk/ols/ontologies/ncit)

But looks like the latest is August:

[https://stars.renci.org/var/NCIt/releases/](https://stars.renci.org/var/NCIt/releases/)

[2021-11-15 14:36] cthoyt commented on #514
Relevant discussion about how OBO Foundry would classify its ontologies on https://github.com/OBOFoundry/OBOFoundry.github.io/issues/1225

[2021-11-15 14:43] udp commented on #515
Thanks, I will force an update.

[2021-11-16 09:24] #515 closed

[2021-11-23 11:10] ehatton opened #519 "Include ChEBI version number"
Hi OLS team, currently the version field shows `null` for the [ChEBI](https://www.ebi.ac.uk/ols/api/ontologies/chebi) ontology.

It would be really useful if you could cite the official ChEBI version e.g. `205` for the current release.

[2021-11-23 11:16] udp commented on #514
I only have some specific feedback to add:

Regarding the UI:

* First I navigated to the ontologies page https://service.tib.eu/ts4tib/ontologies, but it seems there are no links to the classifications there?
* I then tried the search https://service.tib.eu/ts4tib/search?q=. I can select collections and schemas from the dropdowns on the left, but then on the page to which it navigates, my selecti

[2021-11-23 13:12] henrietteharmse commented on #519
Yes, this is because CHEBI does not provide `owl:versionInfo`  in their ontology. You can open an issue with CHEBI at: https://github.com/ebi-chebi/ChEBI/issues.

[2021-11-23 13:45] udp commented on #514
Ok I now understand from the description in #518 that there is a key value map, where "schema" refers to the keys and "classifications" refers to the values. The UI also makes more sense now, in that once you select a schema (key), the classifications dropdown appears (though neither picker seems to actually change the selected option in the dropdown, it does filter the results).

For the specific

[2021-11-23 13:49] udp commented on #514
<img width="569" alt="Screenshot 2021-11-23 at 13 48 58" src="https://user-images.githubusercontent.com/454895/143036015-328e1b2f-ac85-4975-8c0f-f6db61a785f4.png">

[2021-11-23 13:50] giraygi commented on #514
@henrietteharmse

Thank you for your detailed reply. I would like to briefly summarize you my understanding of generic classification with toy examples in the obo-config.yaml.txt and ols-config.yaml.txt files in the attachment. According to this approach, the configurator is able to introduce new schema keys simply by defining them under the classification variable in the config files. So it is no

[2021-11-23 13:53] udp commented on #514
<img width="1034" alt="Screenshot 2021-11-23 at 13 52 46" src="https://user-images.githubusercontent.com/454895/143036658-29fa16da-3fe1-4d0a-9013-25e0641d1850.png">

[2021-11-23 13:55] giraygi commented on #514
@udp I did not propose the first "Collection" dropdown of the TIB TS to EBI because the variable "collection" is a very special one to us. EBI does not need that. I only put Schemas and Collections for your convenience because that gives you the flexibility to introduce as many schemas as you wish. Collection is just a single schema.

[2021-11-23 14:18] giraygi commented on #514
@udp This is actually how my pull request looks with the toy example I mentioned earlier.

![Screenshot from 2021-11-23 15-16-19](https://user-images.githubusercontent.com/48091473/143040688-c4a555ca-6111-46aa-9b0e-214bef14a8a5.png)

[2021-11-23 18:01] udp commented on #514
Thanks. My point is that the UI would be easier to use if the schemes were the headings and the values were dropdowns, instead of separating schemas and classifications. I think it is quite confusing at the moment.

[2021-11-24 14:37] ehatton commented on #519
Ah I see. thank you! I'll contact ChEBI then.

[2021-11-25 10:41] giraygi commented on #514
Hello. I changed the frontend as you described. Now, the dropdown of each schema is created dynamically in a loop. One small note is that the dropdowns won't appear if you don't have any schema in your system. In addition, the previous ontology selections will be reset when you select a classification value from a particular schema. I did this to simplify filtering scenarios. On the contrary, term

[2021-11-25 19:01] udp commented on #514
This is much better, thank you for making the change! I will have a look at the code tomorrow and review.

[2021-11-25 19:48] giraygi commented on #514
I came across a small bug in the last minute and changed the pull request status to draft. Classification values that include a comma are automatically split as different request parameters now. I had solved this in the controller in the previous UI with a new InitBinder behaviour but now the current solution is not controller based. I will solve this tomorrow.

[2021-11-26 20:17] giraygi commented on #514
@udp I did the bug-fix.

[2021-11-30 16:44] cmungall commented on #23
Dupe with #154

[2021-12-01 06:53] #519 closed

[2021-12-13 19:17] cmungall opened #526 "Fix upper levels"
![image](https://user-images.githubusercontent.com/50745/145874169-040e4543-c0b3-494a-9ad6-45e23df5da51.png)

I think there is something wrong with the build process, some terms are floating to root

[2021-12-13 19:17] cmungall commented on #526
sorry wrong tracker

[2021-12-13 19:17] #526 closed

[2021-12-14 10:55] rombaum opened #527 "Log4j security issues"
Dear OLS team,
Dear @henrietteharmse,
Dear @udp,

did you think there are any problems in context of the [Log4j security issues](https://logging.apache.org/log4j/2.x/security.html) for OLS? OLS is using an older version of Apache Solr. As far as I know that is a problem because [Solr](https://www.fortinet.com/blog/psirt-blogs/apache-log4j-vulnerability) uses Log4j. That sounds for me it could be c

[2021-12-14 13:49] udp commented on #527
Hi, as far as we know this isn't an issue for OLS because:

* OLS itself uses Logback, not log4j
* We use Solr 3.5.x which uses Log4j 1.x, which is not affected (only Log4j 2.x)
* We use Neo4j 2.x, and [only Neo4j 4.2+ are affected](https://community.neo4j.com/t/log4j-cve-mitigation-for-neo4j/48856)

[2021-12-14 14:00] udp commented on #527
The Docker image uses Solr 5.3.x, which also seems to use Log4j 1.x:

[code]

[2021-12-14 15:41] rombaum commented on #527
Hi @udp

thank for your reply. First of all that sounds good. But I found this:

Source: https://www.technology.pitt.edu/content/additional-guidance-regarding-log4j-vulnerability

Is the JMSAppender disabled in OLS/OxO?

[2021-12-14 17:52] udp commented on #527
If an attacker can write to your configuration files, you're toast anyway...

[2021-12-15 14:38] udp opened #528 "Test issue for notification"

[2021-12-15 14:38] #528 closed

[2021-12-17 01:38] cmungall commented on #502
Just a ping on the Q above: is there a way I can state in my ontology which OPs are hierarchical?

[2021-12-17 14:20] udp commented on #502
I don't think it's possible from OWL at the moment, I think it has to be done from the OLS config. We can look into implementing loading from the OWL though, it's done for lots of the other properties.

[2021-12-17 14:27] udp opened #529 "Make all YAML config configurable from OWL"
Some of the YAML config options can also be configured with properties in the OWL/RDF, see: https://github.com/EBISPOT/OLS/blob/5bbc93adea1e915ca03c92816917ce0a1ca52e88/ontology-tools/src/main/java/uk/ac/ebi/spot/ols/config/OntologyDefaults.java

However this does not include all config options, such as the hierarchical properties (#502)

[2021-12-17 14:31] henrietteharmse commented on #502
Definitely not possible currently.

[2021-12-17 14:58] #527 closed

[2021-12-17 15:04] henrietteharmse commented on #514
For the time being this is not a update we will introduce into OLS.

[2021-12-17 15:04] #514 closed

[2021-12-19 01:26] #512 closed

[2021-12-22 14:37] nataled opened #530 "Protein Ontology not updated"
On this page https://www.ebi.ac.uk/ols/ontologies/pr the version indicated is v64.0. The current version, however, is v65.0, which became available on 2021-12-17. According to your documentation, there should have been a download either that evening or the next day (the FAQ indicates a nightly update). I see that the last load was performed on 2021-12-15, which would indeed have grabbed v64.0 (the

[2021-12-22 14:43] udp commented on #530
Hi, our data releases are currently frozen for the holiday period as there will be no staff present to debug if there is an issue. The next data release will be on 3rd January, and nightly thereafter.

[2021-12-22 14:48] udp commented on #530
Normally, they run each night from Sunday to Thursday, so that if there is a failure it will be during a work day. However, sometimes the data release takes more than 24 hours so we have to skip the following night. The speed of the indexing process is one of the main priorities for the next version of OLS, for this reason.

[2021-12-22 14:51] nataled commented on #530
Thank you so much for the prompt response! This makes sense. As my question was answered, and as nothing appears to be otherwise amiss (that is, the update cycle isn't actually broken), I'm closing this ticket.

[2021-12-22 14:51] #530 closed

[2021-12-26 14:23] chenkun19960427 opened #531 "An error occurred while executing ols-indexer.jar, adding -Dsolr.solr.home was invalid"
Hi,

I'm following the tutorial [https://www.ebi.ac.uk/ols/docs/installation-guide](https://www.ebi.ac.uk/ols/docs/installation-guide) deploy OLS locally.

Now, [mvn clean install], [ols-config-importer.jar] successfully executed, and Tomcat has been stopped.

However, the following error occurs during [ols-indexer.jar] execution:

[code]

I have read #239 , and increases [-Dsolr.solr.home, -Dsolr

[2021-12-26 16:49] chenkun19960427 commented on #531
Dear @henrietteharmse

I looked at all the issues, but I still couldn't find the right solution.

Looking forward to get your help, thanks!

Best Regards

[2022-01-03 07:57] serjoshua commented on #531
Hi @chenkun19960427,

I'm not sure if you did this already but as far as I know, when starting **solr** in Windows, you could only pass the `-Dsolr.data.dir` config to **solr** only by updating _solr.cmd_.

i.e., change
`set START_OPTS=-Duser.timezone=%SOLR_TIMEZONE%`
to something like
`set START_OPTS=-Duser.timezone=%SOLR_TIMEZONE% -Dsolr.data.dir=C:\Users\username\.ols\solr`

[2022-01-03 08:00] serjoshua commented on #531
Apologies for accidentally closing your ticket @chenkun19960427. It was unintentional. Let us know if you still encounter the issue.

[2022-01-04 17:47] chenkun19960427 commented on #531
Dear @serjoshua

This issue has been resolved ! Just add solr.home to the environment variable . I made a very stupid issue .

Thank you very much for your reply .

Best Regards

[2022-01-04 17:47] #531 closed

[2022-01-05 09:30] renaissancenerd opened #532 "Delay of the Terms view after updates upon addition/changes of terms in an Ontology"
At [TIB](https://www.tib.eu/de/), we are working on several projects for Terminology services for NFDIs and one of them is [NFDI4Chem Terminology service](https://terminology.nfdi4chem.de/ts/index) based on EBI-OLS. This service provides the chemistry related ontologies to our users in NFDI4Chem consortium. Chemists in this group use these ontologies extensively and at the same time they contribut

[2022-01-05 13:39] serjoshua opened #533 "Enhance view of OLS version information"
Remove OLS version information from Data Content panel

[2022-01-05 16:53] smlmbrt opened #534 "Outdated EFO Release"
The version in OLS is 3.36 (November 2021) but version 3.37 was released December 15, 2021.

[2022-01-05 17:55] cmungall commented on #509
There is already an issue on the MS tracker: https://github.com/HUPO-PSI/psi-ms-CV/issues/26

[2022-01-05 18:01] cmungall commented on #503
Another approach here would be to have a standard configurable skos2owl procedure that groups could execute as part of their release pipelines upstream of OLS. They would locally configure e.g. which predicates (if any) are translated to existentials.

One advantage of this is uniformity across different browsers/APIs rather than each one implementing their own slightly varying skos2owl

[2022-01-09 12:40] giraygi commented on #474
Hi @henrietteharmse
I have implemented our solution to this as a pull request to you in https://github.com/EBISPOT/OLS/pull/535 . You can see more or less how it looks like here: https://service.tib.eu/ts4tib/ontologies/bot
I just didn't reflect some of our simple styling such as line spacing and the way we give creator title in the config panel.

[2022-01-09 18:09] udp commented on #534
Thanks, this has now been updated.

[2022-01-09 18:09] #534 closed

[2022-01-10 11:49] #509 closed

[2022-01-10 12:03] henrietteharmse commented on #502
@cmungall Do you have any thoughts on how to configure this from an ontology? Do you have any specific AP(s?) in mind for configuring this?
It would seem that a `has hierarchical object property` in IAO will be ideal.

[2022-01-10 15:21] henrietteharmse commented on #506
Thanks to Josh for doing an excellent job in fixing this!

![image](https://user-images.githubusercontent.com/32327979/148790683-b0abdd9d-d567-4976-9d4e-db890234bf64.png)

[2022-01-10 15:21] #506 closed

[2022-01-11 01:28] cmungall commented on #506
thanks!!!

[2022-01-11 01:48] cmungall commented on #502
I made the issue here https://github.com/information-artifact-ontology/ontology-metadata/issues/84

let's see if someone has time to make a PR

[2022-01-14 15:37] henrietteharmse opened #540 "Individuals Tab should only be visible when the ontology has individuals."
As examples see CryoEM, EFO, HP etc. In all these case an individuals tab exists when there are no individuals.

[2022-01-18 07:02] Ayllonbe opened #541 "Short Form remove the first numerical value of the IRI fragment"
I do not know if I can modify from my side but I was looking for the documentation and I did not see anything. I have a local OLS (for testing) and I introduce my ontology correctly. However, my ontology has identifier like **TOTO:1TOEP**. The issue that I have with OLS is to how force him to keep the full fragment value in the short form. That means that I expect to have 1TOEP in the short form i

[2022-01-18 10:29] serjoshua commented on #541
hi @Ayllonbe may I know what parts of OLS you experience this? or maybe a screenshot of the issue on your end.

[2022-01-18 12:04] henrietteharmse commented on #541
Can you please provide a minimal complete example ontology that illustrates the problem you are experiencing?

[2022-01-18 21:07] Ayllonbe commented on #541
Yes, sorry to answer that late. The main issue is found in the _short_term_ tag. This tag is generated based on the IRI. I did explore a bit the code and I do not know if the issue is from your side or rather from OWL API. If it is the later, it is not a real issue from them since they are following the XML convention [QName](https://en.wikipedia.org/wiki/QName).

In my case I have an IRI as follo

[2022-01-19 02:21] cmungall commented on #98
I think this can be closed?

The ontology PURL should be

http://purl.obolibrary.org/obo/chmo.owl

Which resolves (albeit to something with different metadata than what is on OLS, I will make a fresh issue)

[2022-01-19 02:28] cmungall opened #542 "CHMO has incorrect metadata"
OLS shows:

Ontology IRI:  http://purl.obolibrary.org/obo/chmo.owl
Version IRI:  http://purl.obolibrary.org/obo/chmo/releases/2014-11-20/chmo.owl
Ontology ID: chmo
Version: 14-11-2019
Number of terms: 3084
Last loaded: Thu Jun 17 03:17:23 BST 2021

license
http://creativecommons.org/licenses/by/4.0/

saved-by
batchelorc

has obo format version
1.2

Problems:

 * How can it have Version of 14-11-20

[2022-01-19 10:10] henrietteharmse commented on #541
@Ayllonbe  Can you please provide a minimal complete example ontology that illustrates the problem you are experiencing?

[2022-01-19 10:58] Ayllonbe commented on #541
You can find attached the ontology (an example one). When I load it into my OLS (Local one and unfourtunately I cannot provide screenshot since my computer is working very weird and give me black screenshot), then the tag short_form in the JSON file is TEST instead of 2TEST

[code]

[2022-01-19 11:32] #98 closed

[2022-01-21 17:30] pinmarva commented on #291
+1

[2022-01-22 08:19] chenkun19960427 opened #543 "How to execute ols-indexer.jar at Tomcat runtime ?"
Hi,

I successfully ran OLS locally .

But I found that ols-Indexer. jar could not be executed at Tomcat runtime . Error message :
[code]

MongoDB - olsadmin - FAILED - message:
[code]

I noticed a sentence in the document https://www.ebi.ac.uk/ols/docs/installation-guide:
[code]

Does that mean I have to restart Tomcat every time I update the index ?

Best Regards

[2022-01-24 08:14] serjoshua commented on #543
hi @chenkun19960427,

To answer your question, yes unfortunately. The local tomcat server running with OLS is using the same index files as Solr and Neo4J, it is then mandatory to shutdown the tomcat before running the indexer.

[2022-01-24 08:27] chenkun19960427 commented on #543
Hi, @serjoshua

Thank you very much for your reply !

I'm going to write a timer to shut down Tomcat periodically and then execute the ols-indexer.jar .

Happy New Year !

Best Regards

[2022-01-24 08:27] #543 closed

[2022-01-25 10:25] lcdaugherty opened #545 "link outs to /linkedlifedata.com not working (UMLS)"
http://linkedlifedata.com/resource/umls/id/C0013575

/linkedlifedata no longer is allowing access to UMLS - it defaults to http://www3.ontotext.com/50x.html nginx error.

Is this an issue with new UMLS licensing? Does that mean there is no longer a way of looking at the info without a license?

[2022-01-25 10:37] matentzn commented on #545
This is really annoying. Does anyone know any other way to resolve UMLS CUIs? Such a pity there is no public endpoint at UMLS itself..

[2022-01-26 23:31] turbomam opened #546 "Term endpoint broken? Moved permanently?"
The sample query for the Term endpoint seems to be broken

[code]

Content-Type: text/html
Date: Wed, 26 Jan 2022 23:28:42 GMT
Location: https://www.ebi.ac.uk/ols/api/ontologies/go/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_0043226
Connection: Keep-Alive
Content-Length: 0

Server: Apache-Coyote/1.1
Content-Type: text/html;charset=UTF-8
Strict-Transport-Security: max-age=0
Date: We

[2022-01-27 08:59] shawntanzk opened #547 "Sequence Ontology (SO) is broken in OLS"
Just noticed that Sequence types and features ontology is not working in OLS,
This is the landing page for it and it is empty
![Screenshot 2022-01-27 at 08 57 10](https://user-images.githubusercontent.com/76212760/151325477-de65ce36-d302-4791-ae57-57f9e911d8c2.png)

When I search for a SO term, it shows up in search bar, but when I click on it, it brings me to an error page:

![Screenshot 2022-01-

[2022-01-27 10:40] shawntanzk commented on #547
Issue was when OLS was down - fixed now

[2022-01-27 10:40] #547 closed

[2022-01-27 10:49] serjoshua commented on #546
Hi @turbomam, thanks for reporting. This has been resolved. Let us know if you are still experiencing the issue.

[2022-01-27 10:49] #546 closed

[2022-01-27 12:50] turbomam commented on #546
I agree, the Terms endpoint works again now.

Thanks!

[2022-01-28 11:59] udp opened #548 "Make properties in the config a list of preferences"
e.g. for labels the label_property: could first try rdfs:label, if not then use preflabel etc.

[2022-02-02 15:15] nsuvarnaiari opened #549 "Evidence and Conclusion Ontology (ECO) not updated since Dec, 2021"
Hi OLS Team,

I have noticed that OLS does not display the latest ontology (Jan release - https://github.com/evidenceontology/evidenceontology). Could you take a look and let me know if there is any issue with the ontology?

Thanks,
Suvvi

[2022-02-02 15:18] nsuvarnaiari commented on #549
Thanks so much for a super quick reply James.

Suvvi

[2022-02-04 14:14] shawntanzk opened #550 "Some individuals in PCL do not resolve"
There are some individuals in PCL that do not resolve in OLS

Examples include:
https://www.ebi.ac.uk/ols/ontologies/pcl/individuals?iri=http://purl.obolibrary.org/obo/PCL_0015594
https://www.ebi.ac.uk/ols/ontologies/pcl/individuals?iri=http://purl.obolibrary.org/obo/PCL_0019601
https://www.ebi.ac.uk/ols/ontologies/pcl/individuals?iri=http://purl.obolibrary.org/obo/PCL_0019629

These resolve:
http

[2022-02-14 11:59] henrietteharmse commented on #549
@nsuvarnaiari ECO has been updated in OLS!

[2022-02-14 11:59] #549 closed

[2022-02-14 14:48] nsuvarnaiari commented on #549
Thanks @henrietteharmse !

[2022-02-14 17:26] matentzn opened #551 "Links from Term Info redirect wrong"
related https://github.com/monarch-initiative/mondo/issues/4479

If you go here https://www.ebi.ac.uk/ols/ontologies/mondo/terms?iri=http://purl.obolibrary.org/obo/MONDO_0016525

and hover over any of the exactMatch URLs they redirect to https://www.ebi.ac.uk/ols/ontologies/mondo/$1 instead of whatever the link says.. Should either resolve internally in OLS or go out (probably going out is saver?)

[2022-02-14 17:26] AdamSchiff opened #552 "nonbinary person does not open"
nonbinary person (http://purl.obolibrary.org/obo/GSSO_000395) will not open to display the entry

[2022-02-15 00:31] ddooley opened #553 "Could GenEpiO be refreshed?"
It has a versionIRI genepio/releases/2022-02-06/genepio.owl so I'd have thought it would be updated by now, so I'm curious what the refresh rate is for OLS ontologies?

Cheers,

Damion

[2022-02-15 02:56] fauman opened #554 "ORDO ontology in OLS differs between EFO and ORDO trees"
The term "Orphanet_247511" has different parents in the EFO and ORDO trees. Only the entity in the EFO tree is correct.

Compare:
https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_247511

to:
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_247511

And from the original source:
https://www.orpha.net/conso

[2022-02-15 09:07] henrietteharmse commented on #554
Yes, as far as I know this is to be expected seeing as EFO imports terms from various other ontologies besides ORDO. But, I am not an expert in this. @zoependlington can you give some input in this regard?

[2022-02-15 09:17] zoependlington commented on #554
EFO's import of Orphanet is historical and static (meaning it has not been updated since being imported into EFO many years ago). We are currently working to gradually replace old Orphanet terms, as many have been obsoleted in the source, with Mondo terms. The first step to this was during our transition to EFO version 3 a few years ago where we mapped all EFO and Orphanet terms in EFO to Mondo te

[2022-02-15 09:23] henrietteharmse commented on #553
Hi Damion,

Yes, it should have been updated by now. We will investigate.

For details on the updates, please see our [FAQ](https://github.com/EBISPOT/OLS/wiki/Frequently-asked-questions).

[2022-02-15 11:00] jamesamcl commented on #552
Thanks, this was an issue with terms that referenced individuals and is fixed now

[2022-02-15 11:00] #552 closed, assigned to nobody

[2022-02-15 11:06] jamesamcl commented on #554
Thanks Zoe! Since this is not an OLS issue I will close it.

[2022-02-15 11:07] jamesamcl commented on #551
Thanks Nico, I will investigate!

[2022-02-15 12:23] fauman commented on #554
But the EFO tree is correct and the ORDO tree is incorrect.
Looks like if I want the correct relationships I have to rely on orpha.net and not OLS, which is a shame

[2022-02-15 12:29] matentzn commented on #554
Not sure wether this applies here @fauman but ORDO changed massively a few weeks ago.. the hierarchies appear much more flat as well. We didn't have time to look into this yet, but you should take a look at Ordo 4.0 on orphanet data and see wether this is what you would expect. OLS just reflects the hierarchy as it is supplied by ORDO afaik

[2022-02-15 14:19] fauman commented on #554
The node I list above is "Autosomal dominant secondary polycythemia"
This should be a child node of "Congenital secondary polycythemia", which is a child of "Secondary polycythemia" which is a child of "Genetic polycythemia" which is a child of "Rare genetic hematologic disease", which is a child of "Rare genetic disease".
This is correctly represented in the EFO tree and on the orpha.net website.

[2022-02-15 14:31] zoependlington commented on #554
@fauman I have downloaded and checked the latest version of ORDO from here: http://www.orphadata.org/cgi-bin/index.php#ontologies

In this you can see the file opened in Protege and that "Autosomal dominant secondary polycythemia" is only a child of disease and disorder and not the expected parentage.
![image](https://user-images.githubusercontent.com/36990116/154082113-f58c94ee-ea6a-4641-b3ba-6cb

[2022-02-15 14:34] fauman commented on #554
thank you - this is very helpful @zoependlington!
Let me see if I can find folks over at orphanet that are as engaged as you all are!

[2022-02-15 14:39] zoependlington commented on #554
No problem! Glad we could solve it (to some degree)!
Hopefully you will be able to get some answers here: https://github.com/Orphanet/ORDO/issues

@henrietteharmse @udp I believe this can be closed again - definitely not an OLS issue! 😄

[2022-02-15 16:28] henrietteharmse commented on #554
@fauman I have checked it in Protege as @zoependlington did. Protege does make use of the structural reasoner (or so I think) to render its display. To be 99.9999...% sure I checked the actual .owl file and here is the relevant bits:
[code]

Based on this, how it is rendered in OLS is correct.

I am closing this now, but feel free to let us know if you find information contradicting this.

[2022-02-15 16:28] #554 closed, assigned to nobody

[2022-02-17 13:26] M-casado opened #556 "OLS webpage documentation broken link"
The link to which one is redirected when clicking on its **Documentation** tab, ``https://www.ebi.ac.uk/ols/docs``, appears to be broken. The landing URL is ``https://www.ebi.ac.uk/ols/docs/index``, which appears to be empty (see image below). Tried with both Google Chrome and Microsoft Edge web browsers.

![image](https://user-images.githubusercontent.com/77288380/154490706-952ed448-40cf-434f-8f9

[2022-02-17 13:31] henrietteharmse commented on #556
Thanks for reporting this! We are aware of this and will have a fix for it in next week.

[2022-02-17 13:46] M-casado opened #557 "Web browser navigation of the tree view [proposal]"
### Summary

1. To be redirected to a child term's record when I open it in another tab.
2. To have all child terms of the current one already displayed by default.

### 1. Opening terms in other tabs
When I navigate through the tree view of an ontology I usually like to **open several tabs with different ontology terms** of such hierarchy. So, instead of clicking on each child term, having to con

[2022-02-17 14:02] henrietteharmse commented on #557
Thanks! These are all very good suggestions!

[2022-02-18 14:48] bherr2 opened #558 "findByIdAndIsDefiningOntology API call seems to be failing"
This used to work: <https://www.ebi.ac.uk/ols/api/terms/findByIdAndIsDefiningOntology?obo_id=UBERON:0001516> has the API changed?

[2022-02-18 15:21] henrietteharmse commented on #558
Thanks for bringing this to our attention! We will have this fixed on Monday!

[2022-02-18 15:21] henrietteharmse commented on #558
Here is the related stack trace:

2022-02-18 15:16:54.139 ERROR 4891 --- [http-bio-8080-exec-5] o.s.boot.context.web.ErrorPageFilter     : Forwarding to error page from request [/api/terms/findByIdAndIsDefiningOntology] due to exception [uk.ac.ebi.spot.ols.neo4j.model.Term cannot be cast to uk.ac.ebi.spot.ols.controller.api.localization.LocalizedTerm]

java.lang.ClassCastException: uk.ac.ebi.spot.

[2022-02-18 18:40] M-casado opened #559 "Wrong CURIE linked to "dye role""
The ``dye role`` term, currently [``CHEBI:37960``](https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:37960), corresponds to ``cyanine dye`` in the Chemical Entities of Biological Interest (ChEBI) ontology. I think this corresponds to a specific dye using the ``dye role``, which in ChEBI corresponds to [``CHEBI:37958``](https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:37958) (the correct C

[2022-02-21 09:21] jamesamcl commented on #558
Hi, this is fixed now! thanks

[2022-02-21 09:21] #558 closed, assigned to jamesamcl

[2022-02-21 10:38] giraygi opened #560 "Difference of obo-config.yaml and ols-config.yaml"
@udp @henrietteharmse
We will appreciate if there was a guidance in OLS documentation about when to use obo-config.yaml  and when to use ols-config.yaml while adding an ontology to a particular terminology service based on OLS. We are also curious about technical differences of these two files such as their interfaces or the way they store information. So far, we observed some of our third party a

[2022-02-21 10:57] henrietteharmse commented on #560
This is described under Configurations at https://www.ebi.ac.uk/ols/docs/installation-guide.
OLS will load obo-config first, ols-config second. Any ols-config will override obo-config.

[2022-02-21 11:47] henrietteharmse commented on #559
OLS does not change any information of any of its ontologies. Please open this as an issue with EFO.

[2022-02-21 11:47] #559 closed, assigned to nobody

[2022-02-21 13:21] bherr2 commented on #558
Thank you!

[2022-02-21 15:15] bpow opened #561 "Unable to setup with docker-compose per README: `missing required field: language`"
When following the instructions from the `README.md` to run using docker-compose (against the docker-compose.yml in 30c29a16c), when running the `docker run --net=host -v $(pwd)/config:/config ebispot/ols-config-importer:stable` (after a lot of other output, some of which looks like general debug output and some of which includes exceptions), I get the error:

[code]

I'm not sure if this is stric

[2022-02-21 15:20] henrietteharmse commented on #561
@bpow Thanks for bringing this to our attention!

[2022-02-21 15:27] udp commented on #561
Hi, thanks for reporting this! Please can you try changing the `docker-compose.yml` file such that the file that says:

    image: ebispot/ols-solr:latest

instead says:

    image: ebispot/ols-solr:stable

Then restarting the servers with `docker-compose up --force-recreate -d solr mongo`? I think it may be the wrong version of our solr config being loaded.

[2022-02-21 15:29] jamesamcl commented on #561
Hi, please ignore my previous comment, I made an incorrect assumption!

Please can you try checking out the `stable` branch? This is an issue with the solr config in `dev` which I will fix shortly, but in the mean time it should be fine in `stable`.

[2022-02-21 15:43] jamesamcl opened #562 "Solr config"
Currently there are 2 different solr configs in the repo:

* https://github.com/EBISPOT/OLS/tree/dev/ols-solr/src/main/solr-5-config
* https://github.com/EBISPOT/OLS/tree/dev/ols-solr/src/main/solr-conf

Need to work out which one to delete, and also update in dev for multilang.

[2022-02-21 15:50] henrietteharmse commented on #562
solr-5-config is what is used. The other 1 can be deleted.

[2022-02-21 15:54] M-casado commented on #559
Understood, thank you.

[2022-02-21 16:01] bpow commented on #561
Thanks for the ultra-rapid response!

This does indeed work for the `stable` branch,  I hadn't even realized that I had checked out the `dev` branch. So from my standpoint, I can (and probably should) be working from `stable` anyway, which certainly reduces the priority of this issue.

[2022-02-22 22:59] #556 closed, assigned to jamesamcl

[2022-02-22 23:00] jamesamcl opened #563 "Docs broken in dev branch"

[2022-02-23 08:41] #560 closed, assigned to nobody

[2022-02-23 13:01] jamesamcl opened #564 "Jstree doesn't work for (some?) properties"
e.g. http://www.ebi.ac.uk/ols/api/ontologies/genepio/properties/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FIAO_0000114/jstree

[code]

[2022-02-23 21:23] nsuvarnaiari opened #565 "ECO tree view using OLS tree view code not working"
Hi OLS Team,

ECO (Evidence and Conclusion Ontology) is using OLS tree view code for displaying ECO tree for searched terms in our website (https://evidenceontology.org/browse/). A user reported the tree view is not displaying the tree for a searched term "ECO:0007295" - inference by association of genotype from phenotype used in automatic assertion. Instead "Loading" is displaying. Trying differe

[2022-02-24 08:47] henrietteharmse commented on #565
We are not aware of any issues in this regard. I have tested this now as well on EBI OLS and did not encounter any problems.

Let us know if the user is experiencing it again. May be also ask the user to make a note of the time and time zone they did this at. That can help us link it back to any potential infrastructure issues.

[2022-02-24 08:49] henrietteharmse commented on #565
May be also ask the user whether they did the search via the UI or the API.

[2022-02-24 20:04] dolleyj commented on #565
I found the problem is with our handling of the data after we query the API. We have been filtering out non-ECO terms, so we display a tree containing only ECO terms. Up until now this has worked for us. I believe this particular term may have a connection to a non-ECO term that got filtered out. This consequently orphaned the term and broke the tree.

Do the OLS API allow for filtering - meaning

[2022-02-25 10:16] henrietteharmse commented on #565
@dolleyj  There is no way to filter out terms when retrieving tree information.

The only way to achieve this will be to do the query and filter out undesired terms and rebuild the tree on your side.

[2022-02-28 10:16] giraygi commented on #560
@henrietteharmse

Thank you very much for the reply. We were able to identify the difference last week. Ontologies in obo-config.yaml are assigned an automatic "http://purl.obolibrary.org/obo/" based base_uri whereas ontologies in ols-config.yaml are not assigned an automatic base_uri. It is rather required to manually assign base_uri values for each non-obo ontology in ols-config.yaml.

[2022-02-28 10:19] giraygi opened #566 "SWO Individuals Do Not Display"
Individuals in https://www.ebi.ac.uk/ols/ontologies/swo/individuals do not display. The web site redirects to the error page, when any random individual of SWO is clicked.

[2022-02-28 10:31] henrietteharmse commented on #566
Duplicate of https://github.com/EBISPOT/OLS/issues/550

[2022-03-02 11:21] henrietteharmse commented on #542
@cmungall  The version issue is fixed as far as I can see.

As for `has obo format version` comes from  http://purl.obolibrary.org/obo/chmo.owl.

[code]
and

[code]
`saved-by` comes from

[code]
also in  http://purl.obolibrary.org/obo/chmo.owl.

[2022-03-09 14:55] #542 closed

[2022-03-10 14:00] jamesamcl opened #568 "Preferred roots configuration is not in the docs"
The documentation of the config at https://www.ebi.ac.uk/ols/docs/installation-guide does not include preferred roots.

[2022-03-11 18:15] jonrkarr opened #569 "OLS UI creates invalid hyperlinks from annotations of terms"
For example, in https://www.ebi.ac.uk/ols/ontologies/kisao/terms?iri=http%3A%2F%2Fwww.biomodels.net%2Fkisao%2FKISAO%23KISAO_0000496, the OLS UI shows a hyperlink for `http://identifiers.org/biomodels.kisao/KISAO_0000019]` rather than `http://identifiers.org/biomodels.kisao/KISAO_0000019`.

This was noticed by [Fengkai Zhang](https://www.linkedin.com/in/fengkai-zhang-8aba2018).

[2022-03-14 08:08] henrietteharmse commented on #551
Seems to be working as far as I can see.

[2022-03-14 08:08] #551 closed, assigned to nobody

[2022-03-14 09:15] serjoshua commented on #569
Hello Jonathan,

We are already looking into it. Thank you for raising this issue.

[2022-03-14 10:44] jamesamcl opened #570 "When multiple labels are provided, which one should we use?"
For example:

<img width="460" alt="Screenshot 2022-03-14 at 10 41 12" src="https://user-images.githubusercontent.com/454895/158156338-bf945a26-ecec-461b-b468-4ea206aa74eb.png">

As RDF triples are unordered, there is nothing to indicate in the OWL RDF/XML file which label of these is the preferred. So OLS would be equally justified in using "术语编辑者" in place of "term editor". Although multilang wi

[2022-03-14 10:45] jamesamcl commented on #570
Should the ontologies be doing something to indicate which is the preferred label and which are alternate? @matentzn ?

[2022-03-14 10:47] matentzn commented on #570
We have a glass clear rule in OBO that only one (non-language-tagged) label is allowed for OBO ontologies.. rdfs:label is the "preferred" label the other ones are synonyms. In this case here, I would recommend to sort the labels and pick the first in alphabetical sort order.

[2022-03-14 10:49] jamesamcl commented on #570
This is from CLO which is in OBO. Does your rule also state that there should only be one label per language?

[2022-03-14 10:57] matentzn commented on #570
The language case has not been addressed yet unfortunately.. But my assumption is it will be similar.

[2022-03-17 04:42] Dalalghamdi opened #571 "Submitting new ontology"
I am working on an application ontology, **Next Generation Bio-banking Ontology (NGBO)** https://github.com/Dalalghamdi/NGBO. NGBO integrates omics contextual data with bio-banking data. New terms introduced by NGBO are when possible submitted to the appropriate OBO foundry domain ontology when possible. The ontology mainly captures:
Analytical wet bench processes used to generate data.
The bioinf

[2022-03-17 12:13] serjoshua commented on #571
Hello Dalia,

You can download and fill out this [spreadsheet](https://github.com/EBISPOT/OLS/blob/main/documentation/uptake/New%20OLS%20ontology%20request.xlsx). The important fields are ontology_purl and preferredPrefix. As for NGBO, there are no ontologies with that shorthand yet. So, it is good.

Please do share to us the updated spreadsheet once you are done. Thanks.

[2022-03-23 03:29] Dalalghamdi commented on #571
Hi @serjoshua,
Please find the sheet here,
[New OLS ontology request.xlsx](https://github.com/EBISPOT/OLS/files/8329480/New.OLS.ontology.request.xlsx)
am  just not sure if I filled in Base_uri - URI - Ontology purl correctly
looking forward to hearing back from you.
Thanks,
Dalia

[2022-03-24 13:19] henrietteharmse opened #572 "Please remove reference to Webulous on OLS"
I.e., see `index.html` for example.

[2022-03-24 14:56] henrietteharmse opened #573 "Suggestions for improving OLS search suggestions"
Please add your examples or suggestions here.

[2022-03-24 15:00] paolaroncaglia commented on #573
Nico: We definitely care about synonym matches! 0.98 boost on exact match

Paola : Will you touch on plurals? E.g. ‘fan shaped body’ returns autocomplete results, but ‘fan shaped bodies’ doesn’t. Notably, it doesn’t work in full search either… We’ve had people request new terms when appropriate ones existed because they didn’t find the singular/plural quickly in OLS. Specifically for “irregular” p

[2022-03-24 16:36] serjoshua commented on #571
Hello Dalia,

First, we think that the ontology_purl you provided is not a valid one. The URL redirects to http://ontologies.berkeleybop.org/. It does not resolve to a valid OWL file.

Also, you need to make sure you added your ontology to the OBO Foundry if you are going to use the OBO base URI.

Regards.

[2022-04-08 07:33] KonradHoeffner opened #575 "Suggestion to improve simplicity of the docker installation"
Usually when I check out a docker compose setup, `docker-compose up --build` integrates all the necessary steps, except maybe setting some documented environment variables.
However in this repository, it seems that there is a process involving multiple steps with manual intervention.
While the steps aren't that complicated, and can probably be automated by wrapping it in another Dockerfile or writ

[2022-04-08 08:10] KonradHoeffner commented on #561
I just experienced the same problem and didn't realize it as well, it seems that the dev branch is checked out by default on `git clone git@github.com:EBISPOT/OLS.git`. Could this repository be configured so that `stable` is checked out by default?

[2022-04-08 08:21] jamesamcl commented on #575
Hi, as the readme describes the steps have to run in a very specific order. The config importer has to run first. Then the web app cannot be running when the indexer is running because they share the same embedded database, and it has to run before the web app. AFAIK this cannot be accomplished with Docker compose.

If you have any suggestions to improve this, please open a PR.

[2022-04-08 08:24] KonradHoeffner opened #576 "Please tone down ols-indexer logging level"
`docker run --net=host -v ols-neo4j-data:/mnt/neo4j -v ols-downloads:/mnt/downloads ebispot/ols-indexer:stable` as described in the readme file produces at least 10000 lines of output (at that point the terminal history was full), most of that very detailed DEBUG statements.
Is it possible to tone down the log level of that component to INFO instead of DEBUG?

[2022-04-08 08:35] KonradHoeffner commented on #575
This is possible using the docker-compose "depends_on" field. For example in one of our projects a similar situation is handled by first generating data and only starting a Virtuoso SPARQL endpoint with an import script when that data generating docker container is finished. The data is also converted into SQL statements and only when that is finished then the database container is run so that it

[2022-04-08 08:43] jamesamcl commented on #575
Interesting, thanks. Will the data generation run every time with depends_on? The indexer is very slow - at EBI it regularly takes ~48 hours.

[2022-04-08 08:45] jamesamcl commented on #575
Also, for the same reason in larger setups (including ours) it is necessary to run the indexer elsewhere and copy the data in. This is another reason we have it as a separate distinct step.

[2022-04-08 09:02] KonradHoeffner commented on #575
We perform the data generation in the build step, so the data is baked into the resulting image and there is no custom entrypoint at all, so it only runs once on build:

[code]
![docker-rdf-dive](https://user-images.githubusercontent.com/839577/162402946-1aa51b3e-3f50-41b1-809b-38cda5d5f386.png)

That could probably be improved further with a two step build with a second step "from SCRATCH" to sav

[2022-04-08 09:08] KonradHoeffner commented on #575
After reading the OLS readme I think that example is not applicable because the source data for the indexer is not known at build time.
In our "sparqltosql" service, the SQL files are generated at run time, so the logic to not download it again if the file exists is built into the python script.

[code]

The SQL files are stored in the "SQL" volume and are later picked up by the database container

[2022-04-08 14:32] noxeee commented on #169
I would also appreciate this feature as to not overwhelm the API by making many requests and rather getting the labels in bulk

[2022-04-19 13:30] janelomax opened #578 "Update to latest NCIT"
Would it be possible to update OLS to the latest NCIT please:

https://github.com/NCI-Thesaurus/thesaurus-obo-edition/issues/77

version 22.03d

[2022-04-20 09:48] KonradHoeffner opened #579 "ols-config-importer Dockerfile refers to nonexisting "build-fix""
On the current dev branch (568cab79e26f22ab705572a34101981b5be30dd5), the `Dockerfile` of `ols-apps/ols-config-importer` refers to a nonexistant `build-fix`, which causes it to fail:

[code]

I do not know if the file is missing and should be added back or if the reference to that file should be removed instead.

[2022-04-20 09:49] jamesamcl commented on #579
You need to build the Dockerfile from the root of the repo. The build-fix folder is there.

[2022-04-20 09:51] KonradHoeffner commented on #579
That works, thanks!

[2022-04-20 09:51] #579 closed, assigned to nobody

[2022-04-20 09:58] jamesamcl commented on #575
Thanks Konrad,

Kind of both! Solr is loaded into a live instance, but Neo4j is embedded (a bit like e.g. sqlite) by both the indexer and ols-web, so the indexer has to be shut down so that ols-web can operate on the same files afterwards.

I do think there will be a way we can simplify all of this, but we're working with code which has been designed for use with very large amounts of data at EBI,

[2022-04-20 09:58] jamesamcl commented on #578
Thanks, a data release is in progress so it should filter through by the end of the day.

[2022-04-20 13:47] KonradHoeffner commented on #575
I got it to work locally! The following shows the page on <http://localhost:8080> where you can browse and search the ontologies. For example, entering "diabetes" shows [milk thistle supplement](http://localhost:8080/ontologies/foodon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFOODON_3500008) as first hit.
All the instructions on the readme file are unnecessary with this docker-compose.yml

[2022-04-20 13:51] KonradHoeffner commented on #575
The next step would be to get it to work without host mode, probably by changing the source code of the ols-config-importer.

[2022-04-20 13:54] jamesamcl commented on #575
That's exciting!

AFAIK ols-config-importer is not hardcoded to localhost. You should be able to set `spring.data.mongodb.host` in the environment.

[2022-04-20 14:03] KonradHoeffner opened #580 "leave out "Tweets by" when ${TWITTER} is empty"
Our project does not have a Twitter account, however when I set `TWITTER=` (empty string) in `.env`, "Tweets by" still shows up on the index page even though there are no tweets below.
Is there a way to hide the "Tweets by" text or if not, could you change the code of ols-web so that it will be automatically hidden when the variable is empty?

[2022-04-20 14:22] KonradHoeffner commented on #575
That worked! Without `network_mode: "host"` below:

[code]

[2022-04-20 14:53] KonradHoeffner opened #582 "high RAM usage of ols-web"
I would like to deploy OLS at our server but it doesn't have much RAM and it seems ols-web consumes more than 1.7 GB with the default configuration. Is there a way to reduce that?

[code]

[2022-04-20 14:55] jamesamcl commented on #582
Not sure. I expect this is probably the embedded Neo4j. There may be options to tweak it but we use a very old version.

[2022-04-20 15:02] KonradHoeffner commented on #582
`-XX:+UseCompressedOops` seems to help a little bit but maybe that is just random fluctuation:

[code]

Or in the `Dockerfile`:

    ENTRYPOINT ["java", "-XX:+UseCompressedOops", "-jar", "/opt/ols-boot.war"]

[2022-04-21 09:36] paolaroncaglia opened #584 "Please update UBERON version in OLS"
cc @matentzn and @shawntanzk (see below)

Dear OLS team,
The current version of UBERON in OLS is 2021-11-28, but there have been a couple of releases since (2022-02-21 and 2022-04-05).
I'm aware of potential memory issues with frequent releases, but Uberon is quite a "key" ontology to many OLS users, and it'd be great if it could be updated please. Unless you'd like to liaise with @matentzn and/or

[2022-04-21 09:39] shawntanzk commented on #584
Yeah this is a hopeful thing, but due to certain blockers, weekly release won't be a thing for a bit until we fix stuff.

[2022-04-21 20:31] LLTommy commented on #493
The term and ontology history tabs were great! However, the database/process that powered that part of the page are no more as far as I am concerned - so this has not been functional for a while I guess

[2022-04-21 21:57] cmungall opened #585 "information shows up twice in COB"
http://purl.obolibrary.org/obo/IAO_0000030 is duplicated in the tree browser

<img width="258" alt="image" src="https://user-images.githubusercontent.com/50745/164558495-3b308975-3722-424f-84d9-36e7a83b369b.png">

this is what it looks like in Protege:

<img width="405" alt="image" src="https://user-images.githubusercontent.com/50745/164558545-64025860-8bfb-46b0-a894-4ef0c9fdffe1.png">

Maybe OLS

[2022-04-22 08:43] henrietteharmse commented on #585
Good catch!

Initial investigation:
1. COB in OLS is up to date.
2. No hierarchical relations are used.
3. No reasoner is configured, which means OLS will use structural reasoner which should match Protege, since this is used in Protege.

I will be surprised if this is the only ontology in OLS where `owl:Thing` is used as filler.

Need to investigate further.

[2022-04-22 08:51] KonradHoeffner opened #586 "Please add a maven cache"
Compiling the different OLS components takes several minutes, mostly due to downloading maven dependencies.
This could be drastically sped up by caching maven dependencies, for example by mounting a local ~/.m2 directory or some cache volume.
Right now, building everything on the unified docker compose branch, <https://github.com/annosaxfdm/ols/commit/d3bb1d8c0bb498f99228c97329d13a706f56367a> `doc

[2022-04-22 09:35] KonradHoeffner commented on #586
The ols-indexer alone took 461s:

     => [build 5/5] RUN cd /opt/ols && ls && mvn clean package -DskipTests                              461.1s

[2022-04-22 09:47] KonradHoeffner commented on #586
I don't know why but adding the cache causes an error:

[code]

Maybe this is an unrelated problem that didn't show up before? However I don't understand why it doesn't occur when not using the cache.
P.S.: Ah it seems that this is the problem that the "build-fix" fixes, apparently the following interferes with the build-fix:

    COPY build-fix/. /root/.m2/repository/
    RUN --mount=type=cache,t

[2022-04-22 11:05] KonradHoeffner commented on #586
Trying this:

    COPY build-fix/. /root/build-fix
    RUN --mount=type=cache,target=/root/.m2 cp -r /root/build-fix/* /root/.m2/repository/ && cd /opt/ols && ls && mvn clean package -DskipTests

This works and gets the build of ols-indexer with existing maven cache down to 24.6 s on an Intel Core i7-9700 :

     => [build 5/5] RUN --mount=type=cache,target=/root/.m2 cp -r /root/build-fix/* /root/

[2022-04-25 07:33] KonradHoeffner opened #589 "How to synchronize ontologies between OLS instances?"
We want to setup synchronization between two OLS instances where one instance A is the source and another B is the target. In regular intervals or on a manual triger, ontologies from A should be imported into B if they don't exist yet or if there have been changes. Potentially this could also work in both directions.
Does something like this exist or if not could you give me advice on where I coul

[2022-04-25 14:45] jamesamcl commented on #589
Nothing like this exists at the moment. If I were to implement it I would perhaps think about modifying the config importer to import the configuration from the other instance, but I'm not sure how easy this would be.

[2022-04-27 09:21] anitacaron opened #590 "Add CCF Ontology to OLS"
Hi OLS Team,

We want to add CCF ontology. We would like to ensure the use of many preferred roots. Here is the [spreadsheet filled](https://github.com/EBISPOT/OLS/files/8573118/New.OLS.ontology.request.xlsx). Please, let us know if anything is not correct.

cc @dosumis @johardi

[2022-04-27 09:31] henrietteharmse commented on #578
NCIT is updated!

[2022-04-27 09:31] #578 closed, assigned to nobody

[2022-05-06 08:26] serjoshua commented on #590
Hi @anitacaron,

I just want to share that CCF ontology is now available in OLS: https://www.ebi.ac.uk/ols/ontologies/ccf.

Let us know if you have any questions.

[2022-05-06 15:09] serjoshua commented on #590
I am re-opening because of an issue regarding preferred roots. I will keep you posted @anitacaron.

[2022-05-16 16:53] ghost opened #593 "Clicking on obsolete terms takes user to error page"
To replicate issue:

Search for an obsolete term in OLS, e.g., UBERON_0002003 'obsolete peripheral nerve'. Alternatively, simply navigate to the PURL: http://purl.obolibrary.org/obo/UBERON_0002003

User then sees an error screen:
![Screenshot 2022-05-16 at 17 45 41](https://user-images.githubusercontent.com/95643797/168643841-c6d9f32e-88c0-4821-a74c-fa81bee3079e.png)

[2022-05-17 09:17] jamesamcl commented on #593
Thanks, I've lined up a fix for this and will get it pushed out today.

[2022-05-17 12:02] jamesamcl commented on #593
This should be fixed now!

[2022-05-17 12:02] #593 closed, assigned to nobody

[2022-05-18 13:54] KonradHoeffner commented on #589
Thanks, I will familiarize myself with the code base and then try to implement the feature at the config importer!
However it may take a while as I don't have any prior experience with Spring.

[2022-05-20 09:08] KonradHoeffner commented on #589
<https://www.ebi.ac.uk/ols/docs/index> states:

Where can I know more about this update mechanism? Maybe this can be used as a synchronization mechanism?
Or does this work outside of OLS by rebuilding and restarting the docker container in a cron job?

[2022-05-20 09:20] henrietteharmse commented on #589
The scheduling happens outside of OLS. However, it is the [indexing application](https://github.com/EBISPOT/OLS/blob/dev/ols-apps/ols-indexer/src/main/java/uk/ac/ebi/spot/ols/LoadingApplication.java) that decides what needs to be reloaded.

[2022-05-20 10:32] #590 closed, assigned to serjoshua

[2022-05-20 12:23] stuzart opened #597 "Error with API wrt to localizedTitle and title being null"
There seems to have been a breaking change to the API. We've found that many entries now have null titles. It seems if a localizedTitle is present (which seems a new attribute), then the title is left as null.

This causes nil errors in existing clients of the API that read the title

[2022-05-20 12:25] henrietteharmse commented on #597
Thanks for reporting. We are aware of the issue and we are working on a fix.

[2022-05-20 12:25] jamesamcl commented on #597
Thanks, we were made aware of this earlier today. It's not an intentional breaking change in the API; both title and localizedTitle should be present. However, there was an issue which meant title was set to null in specific circumstances, which we unfortunately replicated in our production deployment. The fix should be rolled out this afternoon.

[2022-05-20 12:29] stuzart commented on #597
Great, thanks very much for the quick response :)

[2022-05-20 12:31] jamesamcl commented on #597
This should be fixed now (slightly sooner than expected!)

[2022-05-20 12:40] stuzart commented on #597
there still seems to be a few null titles, for NCBITaxon, Gaz, DUO, MI ?

[2022-05-20 13:11] henrietteharmse commented on #597
Thanks Stuart! We will investigate further!

[2022-05-21 01:22] clingene opened #599 "see image. cannot modify Mondo selection"
![image](https://user-images.githubusercontent.com/105955565/169628973-6aa97132-2000-4e5e-bde8-5040db816898.png)

[2022-05-22 08:51] henrietteharmse commented on #599
Thank you for reporting this! In order for us to reproduce this error, can you please provide the steps you have taken that resulted in this error?

[2022-05-25 13:06] jamesamcl opened #601 "Descendants query from RT"
Copied from RT

I am using the link below to get the descendants of diabetes. At the end of
the link it shows that this page had total 78 id's and 4 pages and the
current page is only showing 20 elements (data for 20 id's)

},
"page" : {
"size" : 20,
"totalElements" : 78,
"totalPages" : 4,
"number" : 0
}
}

https://www.ebi.ac.uk/ols/api/ontologies/efo/terms/http%253A%252F%252Fwww.ebi.ac.uk%252Fefo

[2022-05-26 12:30] jlchang opened #602 "404 error for previously known good query"
I'm getting a 404 for a query that previously worked - is OLS having issues?

This is what I'm seeing when I try the following command:

HTTP/1.1 404 Not Found
Server: Apache-Coyote/1.1
Content-Type: text/html;charset=utf-8
Strict-Transport-Security: max-age=0
Date: Thu, 26 May 2022 12:26:37 GMT
Content-Language: en
Content-Length: 1151

<html><head><title>Apache Tomcat/7.0.55 - Error report</titl

[2022-05-26 14:29] kanems opened #603 "Delay in web display of OLS loading/searching"
I have noticed on and off for the past few days that the Search function for my favorite ontology on OLS (Mondo) is really slow. It runs the spinning search screen shown below for sometimes a few seconds and then I refresh or search again and it works instantly. Today it is just churning away and not returning any result:
![image](https://user-images.githubusercontent.com/71083858/170507811-519340

[2022-05-26 14:41] jamesamcl commented on #603
There was an issue with our deployment which is hopefully resolved now.

[2022-05-26 14:43] jamesamcl commented on #602
Thanks, this should be resolved now.

[2022-05-26 14:53] kanems commented on #603
It seems to be responding much more quickly now. Thanks!

[2022-05-26 14:53] #603 closed, assigned to nobody

[2022-05-26 15:42] jlchang commented on #602
Thank you!

[2022-05-26 15:42] #602 closed, assigned to nobody

[2022-05-26 17:32] cmungall opened #604 "hierarchical display of part-ofs disappeared from CL"
https://www.ebi.ac.uk/ols/ontologies/cl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCL_0000117&lang=en&viewMode=PreferredRoots&siblings=false

we used to have part-ofs in the tree

[2022-05-26 17:33] cmungall commented on #604
part-ofs show up for uberon fine:

https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002389

[2022-06-01 06:40] daniwelter opened #605 "HANCESTRO reload"
Could I please request a reload of HANCESTRO in OLS? I did a new release a couple of weeks ago to fix some property and assertion snaffoos and it's now been picked up everywhere (Ontobee, OBOFoundry, AberOWL) except OLS.

Any way I can ensure that new releases are picked up automatically in the future?

[2022-06-01 16:40] matentzn opened #606 "Why can some ontologies not be downloaded from OLS?"
for example

https://www.ebi.ac.uk/ols/ontologies/co_326/download

No rush, but if you know, would be good because I need to build some infrastructure on top of the download API :)

[2022-06-03 13:31] KonradHoeffner commented on #606
Hi, I am not an expert in OLS but I am learning the API as well, so maybe we can figure this one out together :-)
<https://www.ebi.ac.uk/ols/api/ontologies/co_326> returns:

[code]

First, we need to check if downloading is allowed, but "allowDownload" is true so this shouldn't be the problem.
However judging by all the null values and the `"message" : "Failed to download file: Connection refused

[2022-06-06 08:44] matentzn commented on #606
Hey @KonradHoeffner

I think these are the ones that do not download:

### Relatively recently added (last 2 years):

- [disdriv](https://www.ebi.ac.uk/ols/api/ontologies/disdriv)
- [epio](https://www.ebi.ac.uk/ols/api/ontologies/epio)
- [epso](https://www.ebi.ac.uk/ols/api/ontologies/epso)
- [lepao](https://www.ebi.ac.uk/ols/api/ontologies/lepao)
- [colao](https://www.ebi.ac.uk/ols/api/ontologies

[2022-06-07 06:27] KonradHoeffner commented on #606
I don't know why <https://www.ebi.ac.uk/ols/api/ontologies/disdriv> does not download, as status is LOADED, can the developers chime in?

[2022-06-13 20:18] baiddd opened #607 "Modification for ontology description"
Hi,
I am still new to the ontology field, is it possible to add a short [description](https://github.com/EBISPOT/OLS-Config/blob/cdf51bf587057832d6e753dfc0d0b9f7b6878d99/ols-ontologies.yaml#L970) for [SHARELOC ontology](https://www.ebi.ac.uk/ols/ontologies/shareloc) as following?
[code]
Best regards,
Jiachuan

[2022-06-14 18:13] selvaebi opened #608 "PLease add title to ncbitaxon"
the NCBITAXON has config->title as null, can you please add a title to it.

[2022-06-14 18:15] henrietteharmse commented on #607
This needs to be updated in your ontology .owl file. In [Shareloc](https://github.com/imodpasteur/ShareLoc.XYZ/blob/ontology/shareloc.owl#L9) you need to replace `<Ontology/>` with for example

[code]

[2022-06-14 18:27] matentzn commented on #608
Can you lobby ncbitaxon to fix their metadata instead? Helps more people than if OLS hard codes the title ;)

http://dashboard.obofoundry.org/dashboard/ncbitaxon/robot_report.html

https://github.com/obophenotype/ncbitaxon/issues

[2022-06-14 20:23] baiddd commented on #607
Thank you so much, [new *.owl file](https://github.com/imodpasteur/ShareLoc.XYZ/blob/c6a45ac800fcc2bf6523c2a058692c31e8a1e555/shareloc.owl#L10) is done

[2022-06-14 20:23] #607 closed, assigned to nobody

[2022-06-15 09:10] matentzn opened #609 "VT is outdated"
https://www.ebi.ac.uk/ols/ontologies/vt

There is a newer 2022 version of VT available

Thanks! :)

[2022-06-15 09:10] matentzn commented on #609
cc @rays22

[2022-06-15 10:16] #584 closed, assigned to nobody

[2022-06-15 15:09] henrietteharmse commented on #606
Hhhmmm ... I suspect this may be a side effect of a recent data centre migration.

[2022-06-16 12:42] serjoshua commented on #605
We've had some challenges due to data center migration but it should update automatically. It is updated now. Please verify on your end. Thanks.

[2022-06-16 12:42] #605 closed, assigned to serjoshua

[2022-06-16 12:43] serjoshua commented on #609
It is updated now.

[2022-06-16 12:43] #609 closed, assigned to serjoshua

[2022-06-17 10:00] #608 closed, assigned to nobody

[2022-06-17 10:00] #599 closed, assigned to nobody

[2022-06-17 11:57] henrietteharmse commented on #604
Hi Chris,
This is because you have `Preferred root terms` selected. If you select `All terms` you will see the following:
![image](https://user-images.githubusercontent.com/32327979/174293643-913c50a4-33db-4b90-9325-63a72bdd6354.png)

[2022-06-17 11:57] #604 closed, assigned to nobody

[2022-06-17 12:39] matentzn commented on #604
Why does preferred roots keep part of from being rendered in the tree?

[2022-06-17 12:46] henrietteharmse commented on #604
In this case `central nervous system` is not accessible from the preferred roots, hence it is not rendered.

[2022-06-17 12:49] matentzn commented on #604
Ah ok.. yeah that is probably another reason why Uberon on CL should be integrated together! Thanks for the explanation.

[2022-06-21 13:29] janelomax opened #610 "Gene Ontology update?"
Hi - looks like GO hasn't updated in a few months, it's on the March release still.

[2022-06-21 15:51] jamesamcl commented on #606
This should hopefully be resolved now!

[2022-06-22 12:17] anitacaron opened #611 "Bug when load/reload specific term"
Two branches were deleted in the new EFO release but still sometimes show.

To reproduce:
- Go to https://www.ebi.ac.uk/ols/ontologies/efo/terms?iri=http%3A%2F%2Fwww.ebi.ac.uk%2Fefo%2FEFO_0002770&lang=en&viewMode=All&siblings=false
- Refresh the page to see it changing from the previous release to the new one and vice-versa.

New release:
<img width="856" alt="Screen Shot 2022-06-22 at 11 25 35 AM

[2022-06-24 23:36] serjoshua commented on #610
Hi Jane,

Apologies for the delay. There has been ongoing migration of data centers that kind of affected our regular data releases. It is updated now. Feel free to let us know if there are any issues. Thanks.

[2022-06-24 23:36] #610 closed, assigned to serjoshua

[2022-06-28 10:31] serjoshua commented on #611
Hi Anita,

This has been resolved. One of our instances apparently was not updated properly. The load balancer intermittently points to that instance causing the discrepancy. Please verify on your end. Thanks.

[2022-06-28 10:31] #611 closed, assigned to serjoshua

[2022-06-29 08:15] KonradHoeffner opened #613 "*deleted*"
Update: Please delete this issue. The --no-cache Docker option disabled the BuildKit cache as well as the layer cache

[2022-06-29 08:31] KonradHoeffner commented on #586
Update: This version was unnecessarily building components separately and thus building dependencies multiple times. A more efficient approach is to just build everything at once in a separate container and put all the jars in a volume.

[2022-07-01 16:34] EliotRagueneau opened #614 "Missing type field on obo_synonym"
Hi,
I'm a developer in IntAct team, and in our release pipeline, we use the obo_synonym type of this [endpoint based on MI ontology](https://www.ebi.ac.uk/ols/api/ontologies/mi/terms?obo_id=MI:0000).
However, the type received is `null`.

The expected behaviour is the following:
[Source ontology file: Term definition](https://github.com/HUPO-PSI/psi-mi-CV/blob/56728a3d274798f1c870df1ea76297223c40d

[2022-07-04 14:17] lcdaugherty opened #615 "MONDO OMIMPS split terms July release- updated in OLS yet?"
Hi
I would expect to see these changes mentioned https://github.com/monarch-initiative/mondo/issues/4864 in the current OLS?
But amendments do not seem to be reflected as I cannot see  the changes in OLS:

example from https://github.com/monarch-initiative/mondo/issues/4864
: http://purl.obolibrary.org/obo/MONDO_0011108
id: MONDO:0011108
name: Stüve-Wiedemann syndrome
relationship: seeAlso https:/

[2022-07-04 15:37] matthiaskoenig commented on #168
Is there some additional information about what is supported in the advanced search? Perhaps from the search engine you are using?

[2022-07-04 15:43] henrietteharmse commented on #168
You can have a look here: https://www.ebi.ac.uk/ols/docs/api

[2022-07-04 15:43] matthiaskoenig opened #616 "Add document score to search results via webinterface"
It would be great to have the score of the search engine as part of the search results.
E.g. https://www.ebi.ac.uk/ols/api/search?q=liver
The general score is described as `qf = label^5 synonym^3 description short_form^2 obo_id^2 annotations logical_description iri`, but not returned as part of the results. We want to use the ranking information to build an annotation tool but currently the rankin

[2022-07-05 11:06] serjoshua commented on #615
Hi Louise,

Our last data release was exactly a week ago. Another release is in progress and hopefully will pick up your latest changes.

[2022-07-06 13:41] henrietteharmse commented on #616
Currently OLS is using Solr version 5.x. However, in our redesign of OLS we are considering other solutions. Hence, I will be very reluctant to encourage use of specific scoring numbers as that may be implementation dependent.

[2022-07-06 14:18] serjoshua commented on #615
Hello,

OLS data release is done. MONDO is now updated to 2022-07-01 version. Let us know if the issue persists. Thanks.

[2022-07-06 14:18] #615 closed, assigned to serjoshua

[2022-07-06 14:19] matthiaskoenig commented on #616
I would only use these to evaluate search results relative to each other within a single version of the OLS. So changes in the absolute score values would not matter.

The only thing the score has to fulfill is to be monotone, i.e. the higher the score the better the result.
- access to the score would allow to evaluate/merge multiple searches (e.g. to search via synonyms)

[2022-07-07 08:40] serjoshua commented on #614
Hi Eliot,

We already deployed our changes to production. Please let us know if any issue still exists. Kind regards.

[2022-07-07 08:40] #614 closed, assigned to nobody

[2022-07-15 13:51] shawntanzk opened #618 "PCL search not showing up"
I can find cell types in OLS, but I cant seem to search for them anymore
(eg [https://www.ebi.ac.uk/ols/ontologies/pcl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org[…]o%2FPCL_0011070&lang=en&viewMode=PreferredRoots&siblings=false](https://www.ebi.ac.uk/ols/ontologies/pcl/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FPCL_0011070&lang=en&viewMode=PreferredRoots&siblings=false)) works but when I se

[2022-07-20 17:16] serjoshua commented on #618
Hi Shawn,

A recent data release to production seems to fix the issue. Please verify on your end. Thanks.

[2022-07-20 17:16] #618 closed, assigned to serjoshua

[2022-07-20 17:17] shawntanzk commented on #618
just checked, looks good, thanks so much! :)

[2022-07-21 14:11] IgnatiusPang opened #619 "Add ontologies for TMTpro 16-plex reagents for labelled proteomics"
Currently, for proteomics labelled quantification analysis, the ontology does not include reagent for TMTpro 16-plex labelling. They are
TMT133N
TMT133C
TMT134N

The errors that I've received in the px_submission.log file while submitting data files on Proteome Exchange is s follows:
`2022-07-21 23:58:48,971 INFO [pool-1-thread-2] u.a.e.p.s.v.Main [Main.java:111] ERROR : Value is not match with on

[2022-07-21 15:03] serjoshua commented on #619
Hello @IgnatiusPang,

Thank you for bringing this to our attention. I just checked PRIDE ontology and apparently TMT133N, TMT133C and TMT134N don't exist or hasn't been added to their OWL/OBO configuration. OLS has no control over this and I suggest to raise the issue to the maintainers themselves of the ontology. Thank you and regards.

Josh

[2022-07-21 15:03] #619 closed, assigned to nobody

[2022-07-27 21:48] #613 closed, assigned to nobody

[2022-07-29 11:23] #533 closed

[2022-07-29 15:21] javizca opened #623 "The PSI-Mass Spectrometry ontology hierarchy does not look right in OLS website"
Dear colleagues,

https://www.ebi.ac.uk/ols/ontologies/ms

It seems that something is not right because in the first hierarchical level of the ontology, many terms from the ontology (which should not) appear and also the complete UNIT ontology as well. This is not right. I don't know whether it is the fault of the parser or we have formatted wrongly the OWL file in any of the recent changes.

Coul

[2022-07-29 16:23] henrietteharmse commented on #623
I think there are multiple issues here:

1.  I see the following in the ms.owl file: `<owl:Class rdf:about="http://purl.obolibrary.org/obo/xsd_positiveInteger"/>`. This to the best of my knowledge this is not the standard way to create an ontology.
2. The ontology is inconsistent, which can also be an indication that the way the ontology is created may be problematic.

In both cases 1 and 2 I stro

[2022-08-12 19:51] marwa-elnagheeb opened #624 "New term missing in OLS - MONDO:0100506"
We are unable to locate a new term in OLS: Cockayne spectrum with or without cerebrooculofacioskeletal (COFS) syndrome (MONDO:0100506). It was scheduled to be released in August. Release file:
https://github.com/monarch-initiative/mondo/releases/tag/v2022-08-01

Could you please help us to locate this?

This was a request from the ClinGen Syndromic Disorders GCEP/@RyanFWebb that was fulfilled last

[2022-08-15 11:50] streerm opened #625 "New version of INO available"
Could you update the Interaction Network Ontology? There is a newer version available on BioPortal ([1.1.13](https://bioportal.bioontology.org/ontologies/INO) v. [1.0.112](https://www.ebi.ac.uk/ols/ontologies/ino)).

[2022-08-15 13:01] serjoshua commented on #625
Hello Mark,

We are on it. We'll let you know once a data release update on production for INO is done. Thanks.

[2022-08-15 19:46] #540 closed

[2022-08-15 19:47] #550 closed

[2022-08-15 19:47] #572 closed, assigned to serjoshua

[2022-08-16 06:49] henrietteharmse commented on #623
OLS has been updated to fix (3) above. (1) and (2) still needs to be addressed by the designers of the PSIMass Spectrometry ontology.

[2022-08-16 06:50] #606 closed, assigned to jamesamcl

[2022-08-17 13:50] serjoshua commented on #625
Hi Mark,

By the way, INO has been updated in OLS. Regards.

[2022-08-17 13:50] #625 closed, assigned to serjoshua

[2022-08-18 13:24] serjoshua commented on #624
Hi @marwa-elnagheeb I believe the term, MONDO:0100506, is already available in OLS. We did a data release last Monday and MONDO was updated together with it. Let us know if that is not the case on your end.

[2022-08-18 13:24] #624 closed, assigned to serjoshua

[2022-08-18 13:28] marwa-elnagheeb commented on #624
Thanks @serjoshua It did not appear in OLS as of Aug. 12th. I can see it now.

[2022-08-18 15:40] serjoshua commented on #569
Hi Jonathan,

Apologies if it took us months to get back to you regarding this issue. The reason for this is that the approach to display class/term information was streamlined. At the same time, we had a huge release to handle locale language (multilang) for ontologies.

As for the URLs in annotation _values_ of some classes (in this case KISAO:0000496), initially, our templates automatically for

[2022-08-18 15:40] #569 closed, assigned to serjoshua

[2022-08-22 15:19] laurenechan opened #626 "ECTO release updates"
Hello!
Looking at the current release version of ECTO that is included within OLS, it appears OLS is multiple releases behind in terms of ECTO content. Can the ECTO version within OLS please be updated?

[2022-08-24 20:28] RobertDanhi opened #627 "FooOn is not Opening Up from Searches on OLS"
https://user-images.githubusercontent.com/110859838/186516852-0d14e27c-f969-4299-9ab4-9ad7c172c95f.mov

[2022-08-24 20:29] serjoshua commented on #627
Hello Robert,

We encountered an issue doing a data release earlier this week. Some ontologies were affected. We are on it. Regards.

[2022-08-24 22:08] nicolevasilevsky opened #628 "not able to view NCIT hierarchy today"
When I click on a NCIT term to view the hierarchy, I get an error page

<img width="832" alt="image" src="https://user-images.githubusercontent.com/6722114/186532237-6db6ecd0-4a1f-455c-819c-d84945d97bcd.png">

the term i searched for was NCIT:C85874

I'm on a Mac using Chrome

[2022-08-25 08:15] imo046 opened #629 "Cannot retrieve data with the OLS api"
Hi,

It seems that for all the ontologies, the attempt to get the data from the `www.ebi.ac.uk/ols/api/ontologies/` results in the error message as shown in the attached screenshot.
![ols](https://user-images.githubusercontent.com/11870331/186612465-72372950-5a2f-4fb7-b5cc-9812c60de2bc.png)

[2022-08-26 13:11] henrietteharmse commented on #628
This should now resolved.

[2022-08-26 13:11] #628 closed, assigned to serjoshua

[2022-08-26 13:12] henrietteharmse commented on #629
This should now be resolved.

[2022-08-26 13:12] #629 closed, assigned to serjoshua

[2022-08-26 13:14] henrietteharmse commented on #627
This should now be resolved

[2022-08-26 13:14] #627 closed, assigned to serjoshua

[2022-08-31 21:14] cmungall opened #630 "crop ontology PURLs are incorrect"
As pointed out here: https://github.com/biopragmatics/bioregistry/issues/527

The OLS PURLs for COs use a http + www scheme e.g. https://www.ebi.ac.uk/ols/ontologies/co_325/terms?iri=http%3A%2F%2Fwww.cropontology.org%2Frdf%2FCO_325%3A0000536

but the actual OWL from the CO site is of the form https://cropontology.org/rdf/CO_325:0000536

Possible related: #508

[2022-09-01 13:15] henrietteharmse commented on #630
Hi Chris,

This is a known issue on OLS wrt the crop ontologies. For the last while OLS has not been able to download most of the crop ontologies. I have notified them of this as OLS seem to have no issues downloading any other ontologies.

[2022-09-02 01:45] fauman opened #631 "orphanet ontology in OLS doesn't match that on the orpha.data website because of change in edge annotation"
The orphanet ontology is corrupted in OLS.

As an example "Autosomal dominant secondary erythrocytosis" is listed as being a direct child node of "Disease" in OLS.
https://www.ebi.ac.uk/ols/ontologies/ordo/terms?iri=http%3A%2F%2Fwww.orpha.net%2FORDO%2FOrphanet_247511

However in orphanet, "Autosomal dominant secondary erythrocytosis" is a child node of "Congenital secondary polycythemia", and so o

[2022-09-02 09:31] henrietteharmse commented on #631
How OLS is configured for an ontology is done in collaboration with the ontology owners. I am not aware of any request for changing how OLS is configured for Orphanet. For this reason I suggest you take this up with Orphanet as the request needs to come from Orphanet.

May be to clarify further. Orphanet is not corrupted on OLS. In fact its rendering matches that of Protege exactly.

[2022-09-02 09:31] #631 closed, assigned to nobody

[2022-09-05 11:17] serjoshua commented on #626
Hello Lauren,

We managed to update ECTO data in OLS recently to version 2022-08-12. Please do verify on your end if there are any issues. Thanks!

[2022-09-05 11:17] #626 closed, assigned to serjoshua

[2022-09-09 06:47] KonradHoeffner opened #632 "Can OLS resolve URLs directly?"
Is it possible to align the namespace of an ontology with the URL scheme of OLS so that the URLs don't get handled by an additional URL browser component but by OLS itself?

For example, if OLS is installed under `https://example.com/` and contains an ontology with the slash namespace `https://example.com/ontologies/elefants`, is it possible that when someone enters `https://example.com/ontologies

[2022-09-09 08:21] KonradHoeffner opened #633 "How to load multiple files into one ontology?"
I am trying to import the [RDFBones ontology](https://github.com/RDFBones/RDFBones-O), which consists of 6 owl files that belong to the same ontology (graph).
All 6 files are included under the 'products' key in `config/ols-config.yaml`. However it seems as if OLS only loads `RDFBones-main` and none of the others.
How can I get OLS to load all 6 files?

[code]

[2022-09-09 08:32] henrietteharmse commented on #632
Unfortunately I do not see an easy way achieve this in OLS.

[2022-09-09 08:34] henrietteharmse commented on #633
There is no way to do this in OLS. You can use a tool like [ROBOT](https://github.com/ontodev/robot) to merge the files into a single file to load in OLS.

[2022-09-09 08:34] #633 closed, assigned to nobody

[2022-09-09 08:37] KonradHoeffner commented on #632
Thanks for the quick reply! Then I will investigate whether we can do this with a redirect from our webserver or otherwise use an external RDF browser.

[2022-09-09 08:37] #632 closed, assigned to nobody

[2022-09-13 13:33] selvaebi opened #634 "ols api parents and ancestors not working terms other than GO"
eg : http://www.ebi.ac.uk/ols/api/ontologies/go/ancestors?id=GO:0043226 is working

but http://www.ebi.ac.uk/ols/api/ontologies/doid/ancestors?id=doid:0081062 is not working am I missing something

[2022-09-13 14:19] serjoshua commented on #634
Hi Selva,

We are looking into this but initially, I think this is caused by the recent data issue we encountered in OLS. We might need to force an update for DOID to resolve this specific example you provided. If you have examples from other ontologies, we would be more than glad to know about them.

Josh

[2022-09-13 14:36] selvaebi commented on #634
right now this is one case, I put up if anything else comes up. And also the main use case for us is to get the root element of the provided id, to find whether it is a disease/cell type/tissue or organism. Do you have any API that you can point me to ??

[2022-09-16 13:22] afg1 opened #635 "404 error for GO:0000512"
I'm getting a 404 error when accessing the page for GO:0000512, at the url

https://www.ebi.ac.uk/ols/api/ontologies/GO/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_0000512

The term does appear in the search here (first hit): https://www.ebi.ac.uk/ols/search?q=GO%3A0000512&groupField=iri&start=0&ontology=go

but the link from there is also broken.

[2022-09-16 14:41] afg1 commented on #635
Two more examples:
https://www.ebi.ac.uk/ols/api/ontologies/GO/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_0140869

https://www.ebi.ac.uk/ols/api/ontologies/GO/terms/http%253A%252F%252Fpurl.obolibrary.org%252Fobo%252FGO_0160028

for term GO:0140869 and GO:0160028

[2022-09-16 14:57] henrietteharmse commented on #635
Thanks for reporting this! This happens because the OLS Neo4J and Solr indexes are out of sync for GO. We have force reindexing of GO which should resolve this. We will let you know when it is done.

[2022-09-16 15:14] afg1 commented on #635
Excellent, thank you!

[2022-09-19 14:28] sabrinatoro opened #636 "Add VBO to OLS"
The Vertebrate Breed Ontology (VBO) has recently been admitted to OBO Foundry (https://obofoundry.org/ontology/vbo.html).
We kindly ask that you add it to OLS.
Please let us know if you have any questions and/or need any additional information.
Thank you very much!

https://github.com/monarch-initiative/vertebrate-breed-ontology

[2022-09-19 17:05] cmungall commented on #636
this should be automatic if it's in OBO?

[2022-09-23 20:37] cmungall commented on #636
Still not there - @henrietteharmse it would be really awesome if we could have it up in time for ICBO this weekend!!!

[2022-09-23 21:29] jamesamcl commented on #636
Hi, sorry I missed this, I will try my best to get it added now. Our data releases are very prone to breaking at the moment which is why they have been infrequent, so if it breaks OLS I won't be able to push it through.

[2022-09-25 02:01] jamesamcl commented on #636
Hi, VBO is in OLS now: https://www.ebi.ac.uk/ols/ontologies/vbo

[2022-09-26 10:30] javizca opened #638 "Frequency of update for the MS ontology"
https://www.ebi.ac.uk/ols/ontologies/ms

The last time this was updated it was on August 26th.

How often does it updated by default? It would be nice to get it updated asap since there was a big update in the meantime.

Thanks in advance

[2022-09-26 13:13] henrietteharmse commented on #638
Currently data release are slower due to us trying getting OLS4 out asap. We will force an update for MS shortly. Can you please confirm whether the update addresses the issues mentioned for MS in [#623](https://github.com/EBISPOT/OLS/issues/623) ?

Thanks!

[2022-09-26 13:15] javizca commented on #623
No, the issues are not solved still. Work in progress.

[2022-09-26 13:23] henrietteharmse commented on #623
Though we can update MS on OLS, it will still be broken on OLS while these are still an issue.

[2022-09-26 16:00] edeutsch commented on #623
Okay, thank you, @dosumis how can we address these issues?

[2022-09-27 07:47] dosumis commented on #623
HI @edeutsch - Maybe a quick call to talk through the issues would be the most efficient way to proceed?  If you're interested, we could help you switch to a build pipeline with QC to prevent issues like this from occurring.

[2022-09-27 07:47] matentzn commented on #623
3. is fine.. Class-individual is legal punning (I would not generally recommend it though)

I don't see an OLS issue. OLS uses the MS PURL http://purl.obolibrary.org/obo/ms.owl to download the ontology. This ontology imports the entirety the PATO and STATO. This is why your top level looks so "untidy":

<img width="597" alt="image" src="https://user-images.githubusercontent.com/7070631/192465562-4

[2022-09-27 07:53] dosumis commented on #623
To improve the view in OLS, you can add preferred roots to your OLS config. This will set the terms that are visible at the top level by default.  @serjoshua should be able to point you to documentation on how to do this.

[2022-09-27 08:02] henrietteharmse commented on #623
@dosumis  Preferred roots will not sort out issues like the `xsd_anyURI` etc being displayed at the root. That should be resolved in the ontology?

![image](https://user-images.githubusercontent.com/32327979/192469407-7b13bbe6-9ddd-4844-8eec-be476ffcb98b.png)

[2022-09-27 08:05] matentzn commented on #623
`obo:xsd_anyUri` is such a weird way to talk about xsd:anyUri datatype.. that said if the preferred root is some other class somewhere, no other classes will be shown regardless of if they are floating to the top, right? https://www.ebi.ac.uk/ols/ontologies/mondo has lots of floating classes but looks all nice and tidy..

[2022-09-27 08:07] henrietteharmse commented on #623
@matentzn Agreed about `obo:xsd_anyUri`. That is why I suggested they get in touch with your teams.

[2022-09-27 10:19] shawntanzk opened #639 "PCL OLS page doesn't seem to load"
Trying to load https://www.ebi.ac.uk/ols/ontologies/pcl results in a long wait time then:
![Screenshot 2022-09-27 at 11 17 45](https://user-images.githubusercontent.com/76212760/192500312-b7bedd0f-2feb-4dd0-9c9a-180c22ee3535.png)
PCL terms do however load perfectly fine (e.g. http://purl.obolibrary.org/obo/PCL_0011193 works perfectly fine)
No rush as I think most people (at least I do) access it b

[2022-09-27 10:23] serjoshua commented on #639
Hi Shawn,

We're on it. We deployed some data updates to production earlier and you might have just accessed a restarting server. Let us verify first. We'll get back to you as soon as we can.

[2022-09-27 10:34] serjoshua commented on #639
Hello Shawn, I accessed and checked all our prod instances and they seem to run fine. Let us know if you still experience the server error when accessing PCL or OLS in general. And yes, some ontologies, including PCL, take some time to load. In this case, the server error might have been caused by one of the prod instances restarting.

[2022-09-27 10:34] #639 closed, assigned to nobody

[2022-09-27 10:42] shawntanzk commented on #639
Works well now, thanks @serjoshua

[2022-09-27 10:44] serjoshua commented on #639
No worries. Thanks for reporting!

[2022-09-27 12:58] serjoshua commented on #638
Good day,

We just pushed a data update of MS in OLS. Please verify on your end.

[2022-09-27 12:58] #638 closed, assigned to serjoshua

[2022-09-28 16:32] bgyori opened #640 "Search result doesn't resolve to a valid page"
Hello, recently I encountered multiple examples where after putting in a search term, I click on one of the results, and end up on a page saying

Here is a specific example:
![image](https://user-images.githubusercontent.com/5939016/192835746-c4950646-0c2b-43eb-8874-dba39477ed55.png)

and the page showing the error: https://www.ebi.ac.uk/ols/ontologies/cido/terms?iri=http%3A%2F%2Fpurl.obolibrary.o

[2022-09-28 18:18] serjoshua commented on #640
Hello Benjamin,

Thank you for reporting this. I already looked into it and this term is most likely one of those affected by the major data corruption we experienced last month. What our team could do is force a data update for CIDO and push it to production. We don't do regular data updates in OLS as of the moment but we will prioritize CIDO and I will keep you posted regarding any deployment.

[2022-10-05 14:33] nsuvarnaiari opened #641 "Terms from OBI not getting displayed in ontology hierarchy view"
Hi OLS team,

I am trying to access [DNase Hi-C assay](https://www.ebi.ac.uk/ols/ontologies/obi/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FOBI_0003301) OBI:0003301, a term from Ontology for Biomedical Investigations (OBI). I am able to see the term in the results but when I click it to see in the ontology, I get the following error.

![Screen Shot 2022-10-05 at 10 30 09 AM](https://user-im

[2022-10-06 08:52] serjoshua commented on #641
Hello Suvvi,

I already looked into it and this term is most likely affected by the data corruption in OLS we experienced just last month. It is fixed now but to resolve your issue, our team needs to force a data update of OBI to production. We don't do regular data updates in OLS as of the moment but we will prioritize OBI and I will keep you posted regarding any deployment.

If you encounter any

[2022-10-10 16:55] nicolevasilevsky opened #642 "latest version of Mondo?"
Hi,
I noticed that OLS does not have the latest version of Mondo, will it be updated soon?

Related to https://github.com/monarch-initiative/mondo/issues/5461

Thanks!

[2022-10-11 08:36] henrietteharmse commented on #642
@nicolevasilevsky We have an OLS data release planned for 18 Oct. We will ensure that Mondo is part of the update.

[2022-10-11 10:14] allysonlister opened #643 "Adding new Foundry ontology T4FS to OLS"
Good morning all!

[terms4FAIRskills](https://obofoundry.org/ontology/t4fs) has just been added to the OBO Foundry :-)

Please can you let me know the procedure for integrating it with OLS? I'd love to be able to point people to OLS to browse the ontology.

Thanks!

[2022-10-11 12:34] serjoshua commented on #643
Hi Allyson,

Thank you for letting us know and upon checking it is indeed in OBO's configuration already. As of the moment, OLS is not doing regular updates. The earliest scheduled release we have is on the 18th, exactly next week. We will keep you posted regarding the deployment and we will surely include T4FS in it.

[2022-10-11 13:12] allysonlister commented on #643
That's lovely - thank you so much, I'll take a look next week.
Thanks again!

[2022-10-11 20:40] nicolevasilevsky commented on #642
thanks @henrietteharmse!

[2022-10-19 06:11] allysonlister commented on #643
Good morning! Just checked https://www.ebi.ac.uk/ols/ontologies/t4fs and haven't seen anything. For reference when should I expect it to appear please?

Thanks again!

[2022-10-19 08:43] serjoshua commented on #643
Good morning Allyson,

Apologies for giving you the impression it will be available today. We indeed kicked off the deployment yesterday and it is in progress. Updates will be available tomorrow at the latest. We will keep you posted, especially if we encountered any issues or the like.

[2022-10-19 08:56] allysonlister commented on #643
No need to apologise! Just good to know, and thanks!

[2022-10-19 10:09] serjoshua commented on #643
Hello Allyson,

This is just an FYI. So, I am testing our pre-prod environment as of the moment and I cannot seem to find your ontology at first, but then I tried searching it using the title and it worked. Apparently, the `preferredPrefix` is set TF4S and I was searching T4FS. Not sure if it is a discrepancy but it gave me a mini-heart attack earlier if I'm being honest :) If it really is a discr

[2022-10-19 11:11] allysonlister commented on #643
Oh dear - some kind of capitalisation issue - I'll check all the relevant markdown files. Thanks!

[2022-10-19 13:10] allysonlister commented on #643
As you can see from the github notification above, I have submitted a PR. Hopefully you can still index t4fs even with preferredPrefix not being as expected.

(even if this seems to show that I cannot spell "preferred" :-) )

[2022-10-19 13:25] serjoshua commented on #643
No worries. It's all good on our side with regards to the data release so far. The `preferredPrefix` has affected the UI but as you can see in the URL, it didn't affect the API cos it still uses the ontology `id` instead of the `preferredPrefix`. Hopefully, that will be the only issue.

![Screen Shot 2022-10-19 at 2 19 49 PM](https://user-images.githubusercontent.com/25520595/196703943-9146ce85-a4

[2022-10-19 13:31] jamesaoverton commented on #643
I think that the problem is not capitalization, it's the order of the "4" and "F" characters ("T4FS" vs "TF4s"). Right?

[2022-10-19 13:34] serjoshua commented on #643
It is. I checked the PR and it was corrected anyway. Once deployment is done, hopefully, it won't be too much of a bother working with the current `preferredPrefix`. My only worry right now are the APIs, but it seems like the APIs are using ontology `id`.

[2022-10-19 13:50] allysonlister commented on #643
The PR has been updated such that `preferredPrefix: T4FS` - I've been told we should keep it all capitalised. Hopefully my typo will not cause any more problems!

[2022-10-19 16:15] ypriverol opened #644 "Index of pride ontology in OLS"
Hi @henrietteharmse :

Can you make sure the new version of PRIDE Ontology vocabulary https://github.com/PRIDE-Utilities/pride-ontology/blob/master/pride_cv.obo get indexed.

Regards
Yasset

[2022-10-20 08:19] allysonlister opened #645 "New SWO location for OWL file"
Apologies, I thought this might get picked up with the new swo.md file on the[ OBO Foundry site](https://obofoundry.org/ontology/swo), but it looks like it may not have. You can always find the latest version here: http://purl.obolibrary.org/obo/swo.owl

Please could you take SWO from this location in future?

Thanks very much!

[2022-10-20 09:31] serjoshua commented on #634
Good day Selva,

DOID has just been updated in OLS. I checked your problematic API and it seems like the issue still exists. Upon checking though, the term is already obsolete. Given that, let us know if this is something that has been considered on your side. Regards.

[2022-10-20 09:33] serjoshua commented on #640
Good day Benjamin,

We just finished updating CIDO in OLS. Upon revisiting the problematic API, it is resolving now. Let us know if you experience again any issues in OLS.

[2022-10-20 09:33] #640 closed, assigned to serjoshua

[2022-10-20 09:36] serjoshua commented on #641
Good day Suvvi,

OBI has just been updated in OLS. Upon checking the problematic term, it is resolving now. Feel free to message us if you encounter again any issues. Thanks.

[2022-10-20 09:36] #641 closed, assigned to serjoshua

[2022-10-20 09:37] serjoshua commented on #642
Good day Nicole,

MONDO has just been updated in OLS. Let us know if you encounter any issues. Regards.

[2022-10-20 09:37] #642 closed, assigned to serjoshua

[2022-10-20 09:43] serjoshua commented on #643
Good day Allyson and James,

T4FS has finally been added to OLS but with the problematic prefix. Feel free to create tickets for any issues encountered in OLS or urgent updates you want to be deployed to production. Thank you so much and regards.

[2022-10-20 09:43] #643 closed, assigned to serjoshua

[2022-10-20 10:53] allysonlister commented on #643
No worries - thank you so much!

[2022-10-20 13:42] nsuvarnaiari commented on #641
Thanks @serjoshua !!

[2022-10-21 05:53] marius-mather opened #646 "Help with configuring ontologies to support synonyms in OLS"
I'm trying to work with a few different ontologies via the OLS search API. For my purposes, if I could search by synonym and get synonyms returned in the search results, that would cover all my needs. As someone a bit new to the area I am having trouble understanding how to do this consistently e.g.:

* For [Mondo](https://github.com/monarch-initiative/mondo) I eventually worked out that I can get

[2022-10-24 07:48] henrietteharmse commented on #635
This has been resolved

[2022-10-24 07:48] #635 closed, assigned to nobody

[2022-10-25 09:50] #636 closed, assigned to nobody

[2022-10-25 10:18] serjoshua commented on #644
Good day Yasset,

Apologies for the delayed response. I checked our current configuration and it is updated. We just need to include PRIDE on our next data release which will be mid-November at the latest. We will keep you posted.

[2022-10-25 10:28] serjoshua commented on #645
Good day Allyson,

I checked OBO configuration and `ontology_purl` points to [http://purl.obolibrary.org/obo/swo.owl](http://purl.obolibrary.org/obo/swo.owl). We just need now to force update SWO on the next data release of OLS which won't kick off until mid-November at the latest. We will keep you posted. I hope this helps.

[2022-10-25 12:39] serjoshua commented on #646
Hi Marius,

Thank you for raising your concern to us. We are more than happy to help but first, may we know if the concerned ontology is already available in OLS? And if so, how it is configured? It is possible that the creators of that ontology themselves could help you more as well.

[2022-10-26 00:13] marius-mather commented on #646
Hi Josh,
Both Mondo and VBO are in the EBI instance of the OLS already. I have asked about this in the Mondo github https://github.com/monarch-initiative/mondo/issues/5416 . I assume the relevant configuration for Mondo is under `metadata`, (e.g. https://github.com/monarch-initiative/mondo/tree/master/src/ontology/metadata), but I'm having trouble understanding how this could be updated to make be

[2022-10-26 13:18] serjoshua commented on #646
Hello Marius,

I see. Well, in OLS, we could do overrides or custom configurations. One of those is the use of a `synonym_property` configuration wherein you can list property URIs (e.g., http://www.w3.org/2004/02/skos/core#closeMatch, http://www.w3.org/2004/02/skos/core#exactMatch) that will be used in the ontology to define synonyms among terms. We have this in our "form" when someone wants to a

[2022-11-01 18:03] KonradHoeffner opened #647 "search does not find rdfs:label values with language tags other than "en""
Our users need to find our classes with different language labels, however we can find the class below only by searching for "Upper arm", while "Brachium" and "Oberarm" return no results.
How can we support this with OLS?

[code]

[2022-11-02 13:23] KonradHoeffner commented on #570
Our ontologies also have a general rule of one rdfs:label per language maximum, with skos:altLabel for an unrestricted number of synonyms, so I would just pick the first one that the programming language gives me (e.g. `iterator.next()`) but sorting to get a deterministic order seems fine as well.

As for when there are language tags, we have good experiences with priority lists of language tags i

[2022-11-03 09:51] KonradHoeffner opened #648 "ontology_status in ols-config.yml is ignored"
I want to deactivate an ontology in my OLS configuration `ols-config.yml` file but whether I use `activity_status: active` or `activity_status: inactive`, it always gets loaded.

[code]

[2022-11-03 10:19] KonradHoeffner opened #649 "search ignores properties that are not configured as hidden"
In `ols-config.yaml` I have not set any value for "hidden_property".
The search index is generated as part of the general Docker setup, all volumes have been cleared with "docker compose down -v" before "docker compose up" and it has been built too.
I thus assume that *all* properties of my ontology are included in the search index.
However in practice, several of my properties are just ignored by

[2022-11-03 11:03] KonradHoeffner commented on #649
Looking into the SOLR index, the synonyms and comments are not indexed at all:

[code]

[2022-11-03 13:57] serjoshua commented on #648
Hi Konrad,

The `activity_status` is more of a configuration used in OBO rather than in OLS. Sadly, we have to comment it out manually if we want to exclude something.

[2022-11-03 13:57] #648 closed, assigned to nobody

[2022-11-03 15:35] KonradHoeffner commented on #648
Thanks for the clarification! Could you update the documentation so others don't trip over the same issue?

[2022-11-03 15:47] serjoshua commented on #647
Hi Konrad,

We are looking into this.

[2022-11-09 12:21] serjoshua commented on #647
Hello Konrad,

Do you happen to know a specific ontology in OLS where we can test this scenario on? I am testing a term in OBI for example and the search seems to work even with ZH (Chinese) characters.

[2022-11-09 13:07] KonradHoeffner commented on #647
The strange thing is that most ontologies in OLS do not seem to use language tags. I tried APO, ARO, AEO, AMPHX, ADO and AFO from the first page and got 0 hits for "lang" inside the downloaded ontology files.
However I consider language tags to be very useful and important and I don't understand why they are not used there. Especially in the medical and biological domains where latin is used heavi

[2022-11-09 13:17] KonradHoeffner commented on #647
However you can try it at our own OLS instance with the SNIK ontology, which does contain labels in multiple languages, for example (here in RDF Turtle form):

[code]

Now when you search <https://ols.imise.uni-leipzig.de/ontologies/snik> (currently included, may drop out of our OLS in the future, just given to replicate the error), you can find meta:EntityType with its English label "entity type"

[2022-11-10 05:05] matentzn commented on #646
@serjoshua what is the default config of synonym_property? Seems to me oio:hasExactSynonym should be in it?

[2022-11-10 09:32] serjoshua commented on #646
Good day @matentzn,

Yes, we can add oio:hasExactSynonym under VBO's OLS `synonym_property` configuration. But first, may I know what is the exact URI? And, do we only need to add it under VBO?

Also, you can consider this your ticket for this request @marius-mather. We only need the details mentioned above. I want to add though that we will be having a data release next week (very timely) and rig

[2022-11-10 09:38] serjoshua commented on #646
Apologies @matentzn, I just realized what you were asking. As far as I know, we do have hasExactSynonym as default. I might need to double check it.

[2022-11-10 11:32] serjoshua commented on #646
I did some investigation and we do have `http://www.geneontology.org/formats/oboInOwl#hasExactSynonym` as default. As long as it is loaded from OBO Foundry configuration (which VBO is), it will set the synonym property to `http://www.geneontology.org/formats/oboInOwl#hasExactSynonym` when there is none specified.

[2022-11-10 14:18] matentzn commented on #646
Maybe we are misunderstanding @marius-mather question?

[2022-11-10 14:23] serjoshua commented on #646
We could be. So, referring back to the original query, may we know what are you expecting from the search API response? And if there is a more specific scenario where we can maybe replicate or test on our side, it would be of great help @marius-mather. Thanks Nico by the way.

[2022-11-16 11:00] henrietteharmse commented on #647
@KonradHoeffner  Myself and Josh have looked into this. Honestly I would expect this to work in the current OLS, but Josh has loaded your SNIK ontology locally and the multi-lang labels are clearly not in the Solr index. Unfortunately we cannot spent more time on this currently as we need to focus on getting OLS4 out. We will ensure that this is addressed in OLS4.

[2022-11-17 08:01] KonradHoeffner commented on #647
@henrietteharmse thank you for looking into this and for testing it with the SNIK ontology!
I will use a script to remove the language tags as a workaround and then switch to OLS4.

[2022-11-17 08:06] KonradHoeffner commented on #589
In the end, we found it easier to develop a small stand alone command line application at https://github.com/annosaxfdm/olsync that uses the OLS API to read in the ontology configuration of one OLS instance and that transforms this into an OLS configuration file so that those ontologies can be loaded into another OLS instance.
Maybe this is useful for someone else.
While it could probably be imple

[2022-11-18 14:11] serjoshua commented on #644
Hello Yasset,

PRIDE has been updated in OLS. Feel free to message us if there are any issues. Thanks.

[2022-11-18 14:11] #644 closed, assigned to serjoshua

[2022-11-18 14:13] serjoshua commented on #645
Hello Allyson,

SWO has just been updated in OLS. Feel free to message us if you encounter any issues. Thanks.

[2022-11-18 14:13] #645 closed, assigned to serjoshua

[2022-11-18 14:16] serjoshua commented on #643
T4FS has just been updated in OLS with the new preferred prefix. FYI. Thanks!

[2022-11-18 14:20] allysonlister commented on #643
That's great thank you!

[2022-11-22 18:47] anitacaron opened #650 "CCF page is empty"
As shown in the image below, we cannot see the preferred root terms rendering in the [landing page](https://www.ebi.ac.uk/ols/ontologies/ccf).

![Screenshot 2022-11-22 at 18 42 07](https://user-images.githubusercontent.com/2208124/203396338-ce948909-2312-40a1-bca1-5641fb22f000.png)

cc @johardi

[2022-11-23 03:08] marius-mather commented on #646
The VBO breed synonyms are now being returned in the search API response (when including `fieldList=synonym` in the request), so maybe this just needed a new round of data ingestion for the synonyms to be loaded correctly. Thanks for all your help.

[2022-11-23 03:08] #646 closed, assigned to serjoshua

[2022-11-23 09:44] serjoshua commented on #650
Thank you for bringing this to our attention. We are looking into this. May I ask, if you are using the API, do you experience issues using it specifically for CCF? @johardi @anitacaron

[2022-11-23 11:04] anitacaron commented on #650
No, we're not using the API. We share the CCF page in OLS with the users to have a look into the ontology.

[2022-11-23 23:31] franknic opened #651 "Delay in OLS picking up latest version of VBO"
A new version of Vertebrate Breed Ontology (VBO) was released on 2022-10-31 [(https://github.com/monarch-initiative/vertebrate-breed-ontology),](url) but has not yet been picked up at [https://www.ebi.ac.uk/ols/ontologies/vbo](url). Since the aim is for a new release of VBO at the end of each month, OLS is in danger of falling seriously behind.
I and my colleagues are very grateful for the service

[2022-11-24 08:06] henrietteharmse commented on #651
Thanks for bringing this to our attention. We will ensure VBO will be added to our list of ontologies to update in the data release scheduled to run 16 Dec with availability of the update around 21 Dec.

As you correctly observe, there are delays in the OLS data releases. This is an inevitable side effect of our data releases taking ever longer to run and has become rather unstable and less than p

[2022-11-24 15:04] cboelling opened #652 "Ontology Xreference Service Link doesn't seem to work"
The link implied for "Ontology Xreference Service" doesn't seem to work on a given term page. It seems I can only copy-paste from the web page in the form of an image here.
![grafik](https://user-images.githubusercontent.com/17297821/203814751-09b63ad2-fcfb-4e5e-9544-b30e60e6c569.png)

[2022-11-25 14:15] serjoshua commented on #650
Good day,

If you happen to know any information regarding the homepage or repository for CCF, it will be of help. We would like to verify some discrepancies that may have caused the issue, @johardi @anitacaron. Regards.

[2022-11-25 15:08] anitacaron commented on #650
Here's the github repository https://github.com/hubmapconsortium/ccf-ontology

[2022-11-28 19:47] serjoshua commented on #650
Good day,

CCF has been updated in OLS. It should be available now. Feel free to message us if there are any concerns. Thanks!

[2022-11-28 19:47] #650 closed, assigned to serjoshua

[2022-11-28 19:50] serjoshua commented on #651
Hello Frank,

We included VBO in our release today. It is now updated in OLS. If you encounter any discrepancies, feel free to message us. Regards.

[2022-11-28 19:50] #651 closed, assigned to serjoshua

[2022-11-28 19:51] anitacaron commented on #650
Thank you so much, @serjoshua!

[2022-11-28 21:22] franknic commented on #651
Thank you very much!!

[2022-11-30 11:20] rays22 opened #653 "OBA preferred root node and show part_of hierarchy"
Based on feedback from some confused users who tried to navigate the Ontology of Biological Attributes [(OBA)](https://www.ebi.ac.uk/ols/ontologies/oba) I am wondering if
    * OLS could display a preferred root node [OBA:0000001](http://purl.obolibrary.org/obo/OBA_0000001) for [OBA](https://www.ebi.ac.uk/ols/ontologies/oba), and if
    * OLS could show materialised part-of relationships in OBA wi

[2022-11-30 11:22] matentzn commented on #653
@rays22 the first (root node) will happen automatically at the next load. For the second, we need to edit the hierarchical properties in the OLS config. @serjoshua can you remind me where this is hosted?

[2022-11-30 11:55] serjoshua commented on #653
Hello Nico and Ray!

Yes, we could handle configuration (overrides) besides what is in OBO Foundry. Those overrides could be found [here](https://raw.githubusercontent.com/EBISPOT/OLS-Config/prod/ols-ontologies.yaml). You could also see there examples of other configuration that some ontologies have, such as `hierarchical_property`, as mentioned. As for the data update, we will add OBA to our next

[2022-11-30 18:34] matentzn commented on #653
@rays22 will you deal with adding the part of as an hierarchical property?

[2022-11-30 19:18] rays22 commented on #653
OK, I have added the following snippet to `EBISPOT/OLS-Config/prod/ols-ontologies.yaml`

[code]
and created a PR https://github.com/EBISPOT/OLS-Config/pull/8 .
@serjoshua, please, let me know , if anything is missing or if it is not what you need.